In [2]:
import time
import pandas as pd

%run "../1. Librerias Mongo/MongoDB_Connections.ipynb"
%run "../1. Librerias Mongo/MongoDB_Funciones_Consultas.ipynb"

In [3]:
t_ini = time.time()
#data_Tracks = pd.read_csv('C:\Master BigData\TFM\Data\DataFullTracks_MongoDB.csv')
data_Tracks = pd.read_csv('../DATA/Data_Final.csv')
t_end = time.time()
print (t_end - t_ini)

data_Tracks.shape

0.961550235748291

(2175990, 11)

In [4]:
data_Tracks.groupby('ANIO').sum('DEMANDA')

,Unnamed: 0,MES,DIA,HORA,ESTACION,DIA_SEMANA,DEMANDA
ANIO,,,,,,,
2018,472798869571,6503780,14884824,12559790,85617938,3905633,3367303
2019,1496151584334,6855723,15231023,13054460,98405903,4068983,3639704
2020,398514698150,290349,3032419,2529191,20859452,794878,566519