## DescargaFinal_Mongo

### Objetivo

Notebook de descarga de datos de movimientos hist贸ricos de viajes BiciMad desde MongoDB Atlas.

### Descripci贸n General de notebook

    1. Conexi贸n a MongoDB Atlas
    2. Descarga de Marzo 2017 a Febrero 2020

In [1]:
%run "../1. Librerias Mongo/MongoDB_Connections.ipynb"
%run "../1. Librerias Mongo/MongoDB_Funciones_Consultas.ipynb"

import time
import pandas as pd

## 1. Conexi贸n a Mongo

In [2]:
db_Tracks = _connect_mongo('cloud', 'cluster0.15npsxw.mongodb.net', None, 'ucmtfm2022', 'UCM_2022', 'BiciMAD', 'Tracks_Demanda')

Conexion OK
Collection(Database(MongoClient(host=['ac-x1d17w2-shard-00-02.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-00.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-01.15npsxw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-xyv6ql-shard-0', tls=True, serverselectiontimeoutms=4000, tlscafile='C:\\ProgramData\\Anaconda3\\lib\\site-packages\\certifi\\cacert.pem'), 'BiciMAD'), 'Tracks_Demanda')

## 2. Descarga Datos: Mar-2017 - Feb/2020

In [3]:
# Tracks
t_ini = time.time()
data_Tracks_2017 = _data_anio(db_Tracks, 2017)
data_Tracks_2018 = _data_anio(db_Tracks, 2018)
data_Tracks_2019 = _data_anio(db_Tracks, 2019)
#data_Tracks_2020 = _data_anio(db_Tracks, 2020)
data_Tracks_2020_enero = _data_anio_mes(db_Tracks, 2020, 1)
data_Tracks_2020_febrero = _data_anio_mes(db_Tracks, 2020, 2)
t_end = time.time()

print ((t_end - t_ini)/60)

data_Tracks = pd.concat([
    data_Tracks_2017,
    data_Tracks_2018,
    data_Tracks_2019,
    #data_Tracks_2020
    data_Tracks_2020_enero,
    data_Tracks_2020_febrero
])

data_Tracks.shape

4.719699350992839

(11276120, 17)

In [4]:
data_Tracks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11276120 entries, 0 to 340427
Data columns (total 17 columns):
 #   Column            Dtype
---  ------            -----
 0   ANIO              int64
 1   MES               int64
 2   DIA               int64
 3   HORA              int64
 4   DIA_SEMANA        int64
 5   AM_PM             object
 6   TEMPORADA         object
 7   TEMPORADA_NUM     int64
 8   UNPLUG_TIME_date  datetime64[ns]
 9   travel_time       int64
 10  idunplug_station  int64
 11  user_type         int64
 12  ageRange          int64
 13  zip_code          object
 14  Es_Festivo        int64
 15  Es_FinSemana      int64
 16  DEMANDA           int64
dtypes: datetime64[ns](1), int64(13), object(3)
memory usage: 1.5+ GB

In [6]:
data_Tracks[data_Tracks['ANIO']==2017].groupby(['ANIO', 'MES']).count()

             DIA    HORA  DIA_SEMANA   AM_PM  TEMPORADA  TEMPORADA_NUM  \
ANIO MES
2017 3       330     330         330     330        330            330
     4    250998  250998      250998  250998     250998         250998
     5    333444  333444      333444  333444     333444         333444
     6    378087  378087      378087  378087     378087         378087
     7    346700  346700      346700  346700     346700         346700
     8    292469  292469      292469  292469     292469         292469
     9    407910  407910      407910  407910     407910         407910
     10   406480  406480      406480  406480     406480         406480
     11   339669  339669      339669  339669     339669         339669
     12   253552  253552      253552  253552     253552         253552

          UNPLUG_TIME_date  travel_time  idunplug_station  user_type  \
ANIO MES
2017 3                 330          330               330        330
     4              250998       250998            250998     250998
     5              333444       333444            333444     333444
     6              378087       378087            378087     378087
     7              346700       346700            346700     346700
     8              292469       292469            292469     292469
     9              407910       407910            407910     407910
     10             406480       406480            406480     406480
     11             339669       339669            339669     339669
     12             253552       253552            253552     253552

          ageRange  zip_code  Es_Festivo  Es_FinSemana  DEMANDA
ANIO MES
2017 3         330       330         330           330      330
     4      250998    250998      250998        250998   250998
     5      333444    333444      333444        333444   333444
     6      378087    378087      378087        378087   378087
     7      346700    346700      346700        346700   346700
     8      292469    292469      292469        292469   292469
     9      407910    407910      407910        407910   407910
     10     406480    406480      406480        406480   406480
     11     339669    339669      339669        339669   339669
     12     253552    253552      253552        253552   253552

In [7]:
data_Tracks[data_Tracks['ANIO']==2019].groupby(['TEMPORADA_NUM']).count()

,ANIO,MES,DIA,HORA,DIA_SEMANA,AM_PM,TEMPORADA,UNPLUG_TIME_date,travel_time,idunplug_station,user_type,ageRange,zip_code,Es_Festivo,Es_FinSemana,DEMANDA
TEMPORADA_NUM,,,,,,,,,,,,,,,,
1,879441,879441,879441,879441,879441,879441,879441,879441,879441,879441,879441,879441,879441,879441,879441,879441
2,1039889,1039889,1039889,1039889,1039889,1039889,1039889,1039889,1039889,1039889,1039889,1039889,1039889,1039889,1039889,1039889
3,1085602,1085602,1085602,1085602,1085602,1085602,1085602,1085602,1085602,1085602,1085602,1085602,1085602,1085602,1085602,1085602
4,991115,991115,991115,991115,991115,991115,991115,991115,991115,991115,991115,991115,991115,991115,991115,991115

In [8]:
data_Tracks.to_csv('../../DATA/DataTracks_MongoDB_2017-2020-Ene-Feb.csv', index=False)