In [16]:
import time
import pandas as pd

t_ini = time.time()
data_Tracks = pd.read_csv('../../data/DataFullTracks_MongoDB.csv')
t_end = time.time()

C:\Users\gonza\AppData\Local\Temp\ipykernel_11356\1346604319.py:5: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  data_Tracks = pd.read_csv('../../data/DataFullTracks_MongoDB.csv')

In [17]:
df = data_Tracks[(data_Tracks['ANIO']==2019) & (data_Tracks['MES']==7)]

In [18]:
df = df.groupby(by=['DIA']).agg({'DEMANDA':sum})

In [19]:
df

     DEMANDA
DIA
1      14171
2      14797
3      15422
4      15356
5      14213
6       9055
7       7839
8      13220
9      15021
10     15091
11      3526
12         1
15         1
16         3
26         1
28         1
29        10
30         6
31       120