In [1]:
import pandas as pd
import numpy as np
import time
import datetime

%run "../1. Librerias Mongo/MongoDB_Connections.ipynb"
%run "../1. Librerias Mongo/MongoDB_Funciones_Consultas.ipynb"

### Carga de datos de entrada

In [2]:
# MOVIMIENTOS

#DF = pd.read_csv('../../data/DataFrame_Final_Cierre.csv', parse_dates=['FECHA'])
df_tracks = pd.read_csv('../../data/DataFrame_Final_Cierre_Cluster_2017_2019.csv', parse_dates=['FECHA'])

df_clusterFull = pd.read_csv('../../data/Clusterizada_DataFull.csv')
df_clusterGeog5 = pd.read_csv('../../data/Clusterizada_soloGeografico_5Cluster.csv')
df_clusterGeog7 = pd.read_csv('../../data/Clusterizada_soloGeografico_7Cluster.csv')
df_clusterDmnd = pd.read_csv('../../data/Clusterizada_soloDemandaMensual.csv')

In [3]:
df_tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2912138 entries, 0 to 2912137
Data columns (total 25 columns):
 #   Column               Dtype
---  ------               -----
 0   ESTACION             int64
 1   ANIO                 int64
 2   MES                  int64
 3   DIA                  int64
 4   HORA                 int64
 5   FECHA                datetime64[ns]
 6   DIA_SEMANA           int64
 7   AM_PM                object
 8   TEMPORADA            object
 9   TEMPORADA_NUM        int64
 10  Es_Festivo           int64
 11  Es_FinSemana         int64
 12  TEMPERATURA          float64
 13  VIENTO               float64
 14  PRESION              float64
 15  HUMEDAD              float64
 16  PRECIPITACION_1h     float64
 17  PRECIPITACION_3h     float64
 18  DESC_TIEMPO          object
 19  DESC_TIEMPO_detalle  object
 20  CLUSTER_FullCols     int64
 21  CLUSTER_soloGeo5     int64
 22  CLUSTER_soloGeo7     int64
 23  CLUSTER_soloDemanda  int64
 24  DEMANDA              int64
dtypes: datetime64[ns](1), float64(6), int64(14), object(4)
memory usage: 555.4+ MB

In [4]:
# ESTACIONES: Lista de estaciones en DF

df_estaciones = df_tracks.ESTACION.unique()
df_estaciones.sort()
df_estaciones

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  23,  24,  25,  26,  27,
        28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,
        41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,
        54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,
        67,  69,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,
        82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,
        95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 107,
       108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120,
       121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133,
       134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146,
       147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159,
       160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172,
       173, 174, 175], dtype=int64)

In [5]:
# Meteorologia

db_Meteo = _connect_mongo('cloud', 'cluster0.15npsxw.mongodb.net', None, 'ucmtfm2022', 'UCM_2022', 'BiciMAD', 'Meteo_US_NivelHora')

t_ini = time.time()
#data_Meteo = _consulta_meteoUS_por_anio(db_Meteo, 2020)
data_Meteo = _consulta_meteoUS_full(db_Meteo)
t_end = time.time()

print (t_end - t_ini)

# Se agrega campo FECHA para join
data_Meteo['FECHA'] =pd.to_datetime({'year': data_Meteo['ANIO'],
                                          'month': data_Meteo["MES"]
                                          ,'day':  data_Meteo['DIA']
                                          ,'hour':data_Meteo['HORA']},
                                          format='%d-%m-%Y', errors='coerce')

data_Meteo.info()

Conexion OK
Collection(Database(MongoClient(host=['ac-x1d17w2-shard-00-02.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-01.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-00.15npsxw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-xyv6ql-shard-0', tls=True, serverselectiontimeoutms=4000, tlscafile='C:\\ProgramData\\Anaconda3\\lib\\site-packages\\certifi\\cacert.pem'), 'BiciMAD'), 'Meteo_US_NivelHora')
1.7830934524536133
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49368 entries, 0 to 49367
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ANIO                 49368 non-null  int64
 1   MES                  49368 non-null  int64
 2   DIA                  49368 non-null  int64
 3   HORA                 49368 non-null  int64
 4   TEMPERATURA          49368 non-null  float64
 5   TEMP_SENS_TERMC      49368 non-null  float64
 6   VIENTO               49368 non-null  float64
 7   PRESION              49368 non-null  float64
 8   HUMEDAD              49368 non-null  float64
 9   PRECIPITACION_1h     49368 non-null  float64
 10  PRECIPITACION_3h     49368 non-null  float64
 11  NIEVE_1h             49368 non-null  float64
 12  NIEVE_3h             49368 non-null  float64
 13  ID_TIPO_TIEMPO       49368 non-null  object
 14  DESC_TIEMPO          49368 non-null  object
 15  DESC_TIEMPO_detalle  49368 non-null  object
 16  FECHA                49368 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(9), int64(4), object(3)
memory usage: 6.4+ MB

In [6]:
data_Meteo

,ANIO,MES,DIA,HORA,TEMPERATURA,TEMP_SENS_TERMC,VIENTO,PRESION,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,NIEVE_1h,NIEVE_3h,ID_TIPO_TIEMPO,DESC_TIEMPO,DESC_TIEMPO_detalle,FECHA
0,2017,1,1,0,-3.42,-5.73,1.54,1030.0,93.0,0.0,0.0,0.0,0.0,800,Clear,sky is clear,2017-01-01 00:00:00
1,2017,1,1,1,-4.42,-4.42,1.03,1029.0,93.0,0.0,0.0,0.0,0.0,800,Clear,sky is clear,2017-01-01 01:00:00
2,2017,1,1,2,-4.42,-4.42,0.51,1028.0,93.0,0.0,0.0,0.0,0.0,802,Clouds,scattered clouds,2017-01-01 02:00:00
3,2017,1,1,3,-3.42,-3.42,1.03,1028.0,86.0,0.0,0.0,0.0,0.0,803,Clouds,broken clouds,2017-01-01 03:00:00
4,2017,1,1,4,-2.42,-6.50,3.10,1028.0,86.0,0.0,0.0,0.0,0.0,803,Clouds,broken clouds,2017-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49363,2022,8,19,19,29.39,27.85,1.54,1019.0,23.0,0.0,0.0,0.0,0.0,800,Clear,sky is clear,2022-08-19 19:00:00
49364,2022,8,19,20,27.07,26.39,1.03,1006.0,28.0,0.0,0.0,0.0,0.0,800,Clear,sky is clear,2022-08-19 20:00:00
49365,2022,8,19,21,26.27,26.27,1.03,1006.0,28.0,0.0,0.0,0.0,0.0,800,Clear,sky is clear,2022-08-19 21:00:00
49366,2022,8,19,22,25.11,24.46,3.09,1006.0,30.0,0.0,0.0,0.0,0.0,800,Clear,sky is clear,2022-08-19 22:00:00
49367,2022,8,19,23,24.79,24.13,2.06,1006.0,31.0,0.0,0.0,0.0,0.0,800,Clear,sky is clear,2022-08-19 23:00:00

### Creación de DF de fechas

In [7]:
# FECHAS DE FESTIVOS

df_festivos_in = pd.read_csv('../../data/Festivos_Madrid.csv', sep=';')
# Se agrega campo FECHA para join
df_festivos_in['FECHA'] =pd.to_datetime({'year': df_festivos_in['ANIO'],
                                          'month': df_festivos_in["MES"]
                                          ,'day':  df_festivos_in['DIA']},
                                          format='%d-%m-%Y', errors='coerce')
df_festivos_in.info()
df_festivos = df_festivos_in[df_festivos_in['FESTIVO']==1]

df_festivos.info()
df_festivos[df_festivos['ANIO']==2018].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ANIO     1461 non-null   int64
 1   MES      1461 non-null   int64
 2   DIA      1461 non-null   int64
 3   FESTIVO  1461 non-null   int64
 4   FECHA    1461 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(4)
memory usage: 57.2 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 0 to 1454
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ANIO     57 non-null     int64
 1   MES      57 non-null     int64
 2   DIA      57 non-null     int64
 3   FESTIVO  57 non-null     int64
 4   FECHA    57 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(4)
memory usage: 2.7 KB

     ANIO  MES  DIA  FESTIVO      FECHA
365  2018    1    1        1 2018-01-01
370  2018    1    6        1 2018-01-06
452  2018    3   29        1 2018-03-29
453  2018    3   30        1 2018-03-30
485  2018    5    1        1 2018-05-01

### Creación de rango total de fechas

In [8]:
# Creación de rangos de fecha válidos
# sdate = datetime.strptime('01/01/2018 00', '%d/%m/%Y %H')
# edate = datetime.strptime('31/01/2018 23', '%d/%m/%Y %H')

sdate = np.datetime64('2018-01-01T00:00:00')
edate = np.datetime64('2020-02-29T23:00:00')

df_dates=pd.date_range(start=sdate, end=edate, freq='H')

print(df_dates.shape)
df_dates

(18960,)

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2020-02-29 14:00:00', '2020-02-29 15:00:00',
               '2020-02-29 16:00:00', '2020-02-29 17:00:00',
               '2020-02-29 18:00:00', '2020-02-29 19:00:00',
               '2020-02-29 20:00:00', '2020-02-29 21:00:00',
               '2020-02-29 22:00:00', '2020-02-29 23:00:00'],
              dtype='datetime64[ns]', length=18960, freq='H')

### EJECUCION DE PROCESO

In [9]:
# df_estaciones = [175]
# type(df_estaciones)
df_data = df_tracks[df_tracks['ESTACION']==175]
df_data

,ESTACION,ANIO,MES,DIA,HORA,FECHA,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,...,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,DESC_TIEMPO,DESC_TIEMPO_detalle,CLUSTER_FullCols,CLUSTER_soloGeo5,CLUSTER_soloGeo7,CLUSTER_soloDemanda,DEMANDA
137823,175,2017,5,22,11,2017-05-22 11:00:00,2,AM,PRIMAVERA,2,...,32.0,0.0,0.0,Clear,sky is clear,0,0,1,2,5
137982,175,2017,5,22,12,2017-05-22 12:00:00,2,PM,PRIMAVERA,2,...,29.0,0.0,0.0,Clear,sky is clear,0,0,1,2,1
138147,175,2017,5,22,13,2017-05-22 13:00:00,2,PM,PRIMAVERA,2,...,26.0,0.0,0.0,Clear,sky is clear,0,0,1,2,1
138309,175,2017,5,22,14,2017-05-22 14:00:00,2,PM,PRIMAVERA,2,...,24.0,0.0,0.0,Clear,sky is clear,0,0,1,2,3
138473,175,2017,5,22,15,2017-05-22 15:00:00,2,PM,PRIMAVERA,2,...,21.0,0.0,0.0,Clear,sky is clear,0,0,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911680,175,2020,2,29,19,2020-02-29 19:00:00,7,PM,INVIERNO,1,...,60.0,0.0,0.0,Clouds,few clouds,0,0,1,2,8
2911809,175,2020,2,29,20,2020-02-29 20:00:00,7,PM,INVIERNO,1,...,61.0,0.0,0.0,Clouds,few clouds,0,0,1,2,3
2911921,175,2020,2,29,21,2020-02-29 21:00:00,7,PM,INVIERNO,1,...,67.0,0.0,0.0,Clouds,few clouds,0,0,1,2,1
2912014,175,2020,2,29,22,2020-02-29 22:00:00,7,PM,INVIERNO,1,...,69.0,0.0,0.0,Clouds,few clouds,0,0,1,2,2
2912137,175,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,69.0,0.0,0.0,Clouds,few clouds,0,0,1,2,6

In [10]:
clusterFull = df_clusterFull.loc[df_clusterFull['ESTACION'] == df_estaciones[0], ['CLUSTER']].iloc[0]['CLUSTER']
type(clusterFull)

numpy.int64

In [11]:
i=0
df_final = pd.DataFrame(columns = ['ESTACION', 'ANIO', 'MES', 'DIA', 'HORA', 'FECHA', 'DIA_SEMANA', 'AM_PM', 'TEMPORADA', 
                            'TEMPORADA_NUM', 'Es_Festivo', 'Es_FinSemana', 'TEMPERATURA', 'VIENTO', 'PRESION', 'HUMEDAD', 
                            'PRECIPITACION_1h', 'PRECIPITACION_3h', 'DESC_TIEMPO', 'DESC_TIEMPO_detalle', 'CLUSTER_FullCols', 
                            'CLUSTER_soloGeo5', 'CLUSTER_soloGeo7', 'CLUSTER_soloDemanda', 'DEMANDA'])

t_ini = time.time()

for estacion in df_estaciones:
    print('Estacion: '+str(estacion))
    
    df_data = df_tracks[df_tracks['ESTACION']==estacion]
    
    df_final_estacion = pd.DataFrame(columns = ['ESTACION', 'ANIO', 'MES', 'DIA', 'HORA', 'FECHA', 'DIA_SEMANA', 'AM_PM', 'TEMPORADA', 
                            'TEMPORADA_NUM', 'Es_Festivo', 'Es_FinSemana', 'TEMPERATURA', 'VIENTO', 'PRESION', 'HUMEDAD', 
                            'PRECIPITACION_1h', 'PRECIPITACION_3h', 'DESC_TIEMPO', 'DESC_TIEMPO_detalle', 'CLUSTER_FullCols', 
                            'CLUSTER_soloGeo5', 'CLUSTER_soloGeo7', 'CLUSTER_soloDemanda', 'DEMANDA'])    
    
    t_ini_estacion = time.time()
    for fecha in df_dates:
        
        # Variable dia semana
        if fecha.isoweekday()==7:
            dia_semana=1
        else:
            dia_semana=fecha.isoweekday()+1
            
        # Variable Es_Festivo
        fec_festivo = np.datetime64(fecha.date())        
        if fec_festivo in df_festivos['FECHA'].values:
            es_festivo = 1
        else:
            es_festivo = 0
                        
        # Variable Es_FinSemana
        if ((dia_semana==1) or (dia_semana==7)):
            es_finsemana = 1
        else:
            es_finsemana = 0
        
        # Variable AM_PM
        if fecha.hour<=12:
            ampm='AM'
        else:
            ampm='PM'
            
        # Variable TEMPORADA
        if fecha.month<=3:
            temporada='INVIERNO'
            temporada_num=1
        elif fecha.month<=6:
            temporada='PRIMAVERA'
            temporada_num=2
        elif fecha.month<=9:
            temporada='VERANO'
            temporada_num=3
        else:
            temporada='OTONO'
            temporada_num=4
            
        clusterFull = df_clusterFull.loc[df_clusterFull['ESTACION'] == estacion, ['CLUSTER']].iloc[0]['CLUSTER']        
        clusterGeog5 = df_clusterGeog5.loc[df_clusterGeog5['ESTACION'] == estacion, ['CLUSTER']].iloc[0]['CLUSTER']     
        clusterGeog7 = df_clusterGeog7.loc[df_clusterGeog7['ESTACION'] == estacion, ['CLUSTER']].iloc[0]['CLUSTER']
        clusterDmnd = df_clusterDmnd.loc[df_clusterDmnd['ESTACION'] == estacion, ['CLUSTER']].iloc[0]['CLUSTER']
                
                
        if fecha not in df_data[df_data['ESTACION']==estacion]['FECHA'].values:
            i=i+1
            meteo = data_Meteo[data_Meteo['FECHA']==fecha]
            new_row_dict = {
                'ESTACION': estacion,
                'ANIO': fecha.year,
                'MES': fecha.month,
                'DIA': fecha.day,
                'HORA': fecha.hour,
                'FECHA': fecha,
                'DIA_SEMANA': dia_semana,
                'AM_PM': ampm,
                'TEMPORADA': temporada,
                'TEMPORADA_NUM': temporada_num,
                'Es_Festivo': es_festivo,
                'Es_FinSemana': es_finsemana,
                'TEMPERATURA': float(meteo.TEMPERATURA.iloc[0]),
                'VIENTO': float(meteo.VIENTO.iloc[0]),
                'PRESION': float(meteo.PRESION.iloc[0]),
                'HUMEDAD': float(meteo.HUMEDAD.iloc[0]),
                'PRECIPITACION_1h': float(meteo.PRECIPITACION_1h.iloc[0]),
                'PRECIPITACION_3h': float(meteo.PRECIPITACION_3h.iloc[0]),
                'DESC_TIEMPO': meteo.DESC_TIEMPO.iloc[0],
                'DESC_TIEMPO_detalle': meteo.DESC_TIEMPO_detalle.iloc[0],
                'CLUSTER_FullCols': clusterFull,
                'CLUSTER_soloGeo5': clusterGeog5,
                'CLUSTER_soloGeo7': clusterGeog7,
                'CLUSTER_soloDemanda': clusterDmnd,
                'DEMANDA': 0
            }
            
            new_row = pd.DataFrame(new_row_dict, index=[0])
            
            #print(meteo.TEMPERATURA.iloc[0])
            df_final_estacion = pd.concat([df_final_estacion, new_row])
            
            #df = pd.concat([df, i])
        else:
            #print(df_data[(df_data['ESTACION']==estacion) & (df_data['FECHA']==fecha)])
            old_row = df_data[(df_data['ESTACION']==estacion) & (df_data['FECHA']==fecha)]
            df_final_estacion = pd.concat([df_final_estacion, old_row])
            
            
    df_final = pd.concat([df_final, df_final_estacion])
    
    t_end_estacion = time.time()
    print('Fechas vacías:' + str(i))
    print('Tiempo: '+str(t_end_estacion-t_ini_estacion))
    i=0
    

t_end = time.time()
print (t_end - t_ini)

Estacion: 1
Fechas vacías:5048
Tiempo: 95.7553608417511
Estacion: 2
Fechas vacías:9374
Tiempo: 94.10419821739197
Estacion: 3
Fechas vacías:4498
Tiempo: 93.37680792808533
Estacion: 4
Fechas vacías:7270
Tiempo: 87.30157709121704
Estacion: 5
Fechas vacías:6080
Tiempo: 85.58908915519714
Estacion: 6
Fechas vacías:3550
Tiempo: 83.86037683486938
Estacion: 7
Fechas vacías:5579
Tiempo: 81.69315648078918
Estacion: 8
Fechas vacías:4590
Tiempo: 88.40373539924622
Estacion: 9
Fechas vacías:4355
Tiempo: 83.67577958106995
Estacion: 10
Fechas vacías:5669
Tiempo: 82.55328845977783
Estacion: 11
Fechas vacías:8419
Tiempo: 79.67317605018616
Estacion: 12
Fechas vacías:5325
Tiempo: 84.11241388320923
Estacion: 13
Fechas vacías:3339
Tiempo: 84.51745772361755
Estacion: 14
Fechas vacías:5737
Tiempo: 81.53916621208191
Estacion: 15
Fechas vacías:7629
Tiempo: 79.52067613601685
Estacion: 16
Fechas vacías:8050
Tiempo: 80.77215886116028
Estacion: 17
Fechas vacías:4766
Tiempo: 82.94149422645569
Estacion: 18
Fechas vacías:5033
Tiempo: 82.76030230522156
Estacion: 19
Fechas vacías:3303
Tiempo: 84.11553740501404
Estacion: 20
Fechas vacías:6376
Tiempo: 81.42400550842285
Estacion: 21
Fechas vacías:6325
Tiempo: 81.22046566009521
Estacion: 23
Fechas vacías:17454
Tiempo: 74.36349868774414
Estacion: 24
Fechas vacías:17247
Tiempo: 73.69864201545715
Estacion: 25
Fechas vacías:5988
Tiempo: 81.58594012260437
Estacion: 26
Fechas vacías:3599
Tiempo: 83.56289410591125
Estacion: 27
Fechas vacías:5516
Tiempo: 81.60901999473572
Estacion: 28
Fechas vacías:13263
Tiempo: 73.2214412689209
Estacion: 29
Fechas vacías:11168
Tiempo: 77.41513466835022
Estacion: 30
Fechas vacías:5358
Tiempo: 82.28108429908752
Estacion: 31
Fechas vacías:4042
Tiempo: 83.4943494796753
Estacion: 32
Fechas vacías:13356
Tiempo: 77.98391056060791
Estacion: 33
Fechas vacías:6823
Tiempo: 80.72865724563599
Estacion: 34
Fechas vacías:7388
Tiempo: 80.51056098937988
Estacion: 35
Fechas vacías:7593
Tiempo: 80.62923049926758
Estacion: 36
Fechas vacías:7382
Tiempo: 80.6093864440918
Estacion: 37
Fechas vacías:12912
Tiempo: 77.76335144042969
Estacion: 38
Fechas vacías:3007
Tiempo: 84.23801565170288
Estacion: 39
Fechas vacías:7650
Tiempo: 80.56271624565125
Estacion: 40
Fechas vacías:7364
Tiempo: 80.5348527431488
Estacion: 41
Fechas vacías:4427
Tiempo: 82.88638710975647
Estacion: 42
Fechas vacías:5145
Tiempo: 82.75200867652893
Estacion: 43
Fechas vacías:3269
Tiempo: 83.72738265991211
Estacion: 44
Fechas vacías:4964
Tiempo: 82.71877765655518
Estacion: 45
Fechas vacías:6426
Tiempo: 83.06198263168335
Estacion: 46
Fechas vacías:3738
Tiempo: 83.87476253509521
Estacion: 47
Fechas vacías:5372
Tiempo: 82.84569311141968
Estacion: 48
Fechas vacías:5220
Tiempo: 83.43357253074646
Estacion: 49
Fechas vacías:3796
Tiempo: 84.00831842422485
Estacion: 50
Fechas vacías:6302
Tiempo: 81.64869093894958
Estacion: 51
Fechas vacías:5442
Tiempo: 81.77130770683289
Estacion: 52
Fechas vacías:4040
Tiempo: 82.4554283618927
Estacion: 53
Fechas vacías:5098
Tiempo: 82.11705040931702
Estacion: 54
Fechas vacías:5073
Tiempo: 82.53950309753418
Estacion: 55
Fechas vacías:4340
Tiempo: 82.76752400398254
Estacion: 56
Fechas vacías:2978
Tiempo: 83.80545496940613
Estacion: 57
Fechas vacías:2360
Tiempo: 87.0132224559784
Estacion: 58
Fechas vacías:3449
Tiempo: 83.26855993270874
Estacion: 59
Fechas vacías:3096
Tiempo: 83.72906875610352
Estacion: 60
Fechas vacías:6811
Tiempo: 80.33630323410034
Estacion: 61
Fechas vacías:9972
Tiempo: 78.94062972068787
Estacion: 62
Fechas vacías:4544
Tiempo: 83.12074708938599
Estacion: 63
Fechas vacías:5301
Tiempo: 82.2328724861145
Estacion: 64
Fechas vacías:5101
Tiempo: 82.8154947757721
Estacion: 65
Fechas vacías:5646
Tiempo: 82.11059093475342
Estacion: 66
Fechas vacías:6948
Tiempo: 80.8383150100708
Estacion: 67
Fechas vacías:6486
Tiempo: 81.91456270217896
Estacion: 69
Fechas vacías:8649
Tiempo: 80.16387987136841
Estacion: 71
Fechas vacías:5060
Tiempo: 82.6423237323761
Estacion: 72
Fechas vacías:8817
Tiempo: 80.11532187461853
Estacion: 73
Fechas vacías:7598
Tiempo: 80.54539108276367
Estacion: 74
Fechas vacías:4586
Tiempo: 82.96789646148682
Estacion: 75
Fechas vacías:5771
Tiempo: 82.02778625488281
Estacion: 76
Fechas vacías:5906
Tiempo: 82.12977862358093
Estacion: 77
Fechas vacías:6178
Tiempo: 81.2596366405487
Estacion: 78
Fechas vacías:6632
Tiempo: 82.38666987419128
Estacion: 79
Fechas vacías:5459
Tiempo: 83.27055525779724
Estacion: 80
Fechas vacías:6556
Tiempo: 82.51725673675537
Estacion: 81
Fechas vacías:6807
Tiempo: 82.38459014892578
Estacion: 82
Fechas vacías:5952
Tiempo: 83.52799129486084
Estacion: 83
Fechas vacías:4173
Tiempo: 84.21410536766052
Estacion: 84
Fechas vacías:4867
Tiempo: 83.64359736442566
Estacion: 85
Fechas vacías:8199
Tiempo: 80.9437313079834
Estacion: 86
Fechas vacías:5285
Tiempo: 83.56993508338928
Estacion: 87
Fechas vacías:7878
Tiempo: 82.10792779922485
Estacion: 88
Fechas vacías:11467
Tiempo: 78.16887331008911
Estacion: 89
Fechas vacías:7320
Tiempo: 79.21584987640381
Estacion: 90
Fechas vacías:3452
Tiempo: 81.92851185798645
Estacion: 91
Fechas vacías:5100
Tiempo: 80.6904046535492
Estacion: 92
Fechas vacías:8230
Tiempo: 78.0631639957428
Estacion: 93
Fechas vacías:8020
Tiempo: 78.31438946723938
Estacion: 94
Fechas vacías:6874
Tiempo: 80.02213549613953
Estacion: 95
Fechas vacías:5588
Tiempo: 80.60712265968323
Estacion: 96
Fechas vacías:6177
Tiempo: 80.19623827934265
Estacion: 97
Fechas vacías:9254
Tiempo: 77.90749955177307
Estacion: 98
Fechas vacías:9462
Tiempo: 77.87409853935242
Estacion: 99
Fechas vacías:6330
Tiempo: 80.13191342353821
Estacion: 100
Fechas vacías:9539
Tiempo: 77.55344152450562
Estacion: 101
Fechas vacías:7916
Tiempo: 78.12429761886597
Estacion: 102
Fechas vacías:6311
Tiempo: 80.16753506660461
Estacion: 103
Fechas vacías:5524
Tiempo: 80.09272599220276
Estacion: 104
Fechas vacías:8803
Tiempo: 77.72100448608398
Estacion: 105
Fechas vacías:8814
Tiempo: 77.35248970985413
Estacion: 106
Fechas vacías:6155
Tiempo: 79.91853499412537
Estacion: 107
Fechas vacías:9184
Tiempo: 77.9152512550354
Estacion: 108
Fechas vacías:5604
Tiempo: 80.79335761070251
Estacion: 109
Fechas vacías:9299
Tiempo: 78.04804134368896
Estacion: 110
Fechas vacías:7181
Tiempo: 79.72264862060547
Estacion: 111
Fechas vacías:10132
Tiempo: 77.60003924369812
Estacion: 112
Fechas vacías:9046
Tiempo: 78.17494583129883
Estacion: 113
Fechas vacías:6451
Tiempo: 80.05106258392334
Estacion: 114
Fechas vacías:5007
Tiempo: 81.56061887741089
Estacion: 115
Fechas vacías:6896
Tiempo: 79.66196513175964
Estacion: 116
Fechas vacías:7175
Tiempo: 79.09714794158936
Estacion: 117
Fechas vacías:7835
Tiempo: 78.81560778617859
Estacion: 118
Fechas vacías:4641
Tiempo: 81.2488763332367
Estacion: 119
Fechas vacías:11534
Tiempo: 75.77555775642395
Estacion: 120
Fechas vacías:10146
Tiempo: 76.94307780265808
Estacion: 121
Fechas vacías:7149
Tiempo: 78.4844479560852
Estacion: 122
Fechas vacías:7050
Tiempo: 79.61982131004333
Estacion: 123
Fechas vacías:5674
Tiempo: 80.26632618904114
Estacion: 124
Fechas vacías:6380
Tiempo: 80.10025763511658
Estacion: 125
Fechas vacías:6612
Tiempo: 79.4809741973877
Estacion: 126
Fechas vacías:7358
Tiempo: 78.9315197467804
Estacion: 127
Fechas vacías:8346
Tiempo: 78.3860490322113
Estacion: 128
Fechas vacías:4276
Tiempo: 81.66551208496094
Estacion: 129
Fechas vacías:3652
Tiempo: 82.09408020973206
Estacion: 130
Fechas vacías:6048
Tiempo: 79.39993095397949
Estacion: 131
Fechas vacías:4520
Tiempo: 81.27780032157898
Estacion: 132
Fechas vacías:5002
Tiempo: 81.2176992893219
Estacion: 133
Fechas vacías:4842
Tiempo: 81.15248274803162
Estacion: 134
Fechas vacías:6010
Tiempo: 80.16347622871399
Estacion: 135
Fechas vacías:4524
Tiempo: 81.38619184494019
Estacion: 136
Fechas vacías:5223
Tiempo: 80.57358407974243
Estacion: 137
Fechas vacías:8143
Tiempo: 79.08958053588867
Estacion: 138
Fechas vacías:9337
Tiempo: 78.05591559410095
Estacion: 139
Fechas vacías:4863
Tiempo: 81.13354110717773
Estacion: 140
Fechas vacías:8129
Tiempo: 78.80913972854614
Estacion: 141
Fechas vacías:8440
Tiempo: 78.4139187335968
Estacion: 142
Fechas vacías:6114
Tiempo: 79.77856588363647
Estacion: 143
Fechas vacías:8415
Tiempo: 79.18001317977905
Estacion: 144
Fechas vacías:11260
Tiempo: 76.31662368774414
Estacion: 145

Fechas vacías:5574
Tiempo: 80.46632599830627
Estacion: 146
Fechas vacías:9309
Tiempo: 77.6015899181366
Estacion: 147
Fechas vacías:10564
Tiempo: 77.32598423957825
Estacion: 148
Fechas vacías:7947
Tiempo: 80.06976103782654
Estacion: 149
Fechas vacías:3338
Tiempo: 82.37260127067566
Estacion: 150
Fechas vacías:10036
Tiempo: 77.3526041507721
Estacion: 151
Fechas vacías:10629
Tiempo: 77.17641258239746
Estacion: 152
Fechas vacías:9874
Tiempo: 77.47086811065674
Estacion: 153
Fechas vacías:6830
Tiempo: 79.86127233505249
Estacion: 154
Fechas vacías:6337
Tiempo: 79.42850255966187
Estacion: 155
Fechas vacías:6233
Tiempo: 80.00905156135559
Estacion: 156
Fechas vacías:6165
Tiempo: 80.10784935951233
Estacion: 157
Fechas vacías:4919
Tiempo: 80.76634240150452
Estacion: 158
Fechas vacías:8584
Tiempo: 78.58873724937439
Estacion: 159
Fechas vacías:9600
Tiempo: 77.60290288925171
Estacion: 160
Fechas vacías:4342
Tiempo: 81.33592343330383
Estacion: 161
Fechas vacías:3881
Tiempo: 81.94564867019653
Estacion: 162
Fechas vacías:5734
Tiempo: 80.91260409355164
Estacion: 163
Fechas vacías:3075
Tiempo: 86.65478873252869
Estacion: 164
Fechas vacías:4838
Tiempo: 81.2756278514862
Estacion: 165
Fechas vacías:8518
Tiempo: 78.21164560317993
Estacion: 166
Fechas vacías:4800
Tiempo: 80.94646406173706
Estacion: 167
Fechas vacías:7317
Tiempo: 79.51829528808594
Estacion: 168
Fechas vacías:3750
Tiempo: 81.88120651245117
Estacion: 169
Fechas vacías:3924
Tiempo: 81.7479338645935
Estacion: 170
Fechas vacías:4362
Tiempo: 81.5187611579895
Estacion: 171
Fechas vacías:6329
Tiempo: 80.30581712722778
Estacion: 172
Fechas vacías:6154
Tiempo: 80.31680130958557
Estacion: 173
Fechas vacías:11034
Tiempo: 76.22073745727539
Estacion: 174
Fechas vacías:8736
Tiempo: 78.11112523078918
Estacion: 175
Fechas vacías:3037
Tiempo: 80.83715295791626
13931.197543382645

In [12]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3261120 entries, 0 to 2912137
Data columns (total 25 columns):
 #   Column               Dtype
---  ------               -----
 0   ESTACION             object
 1   ANIO                 object
 2   MES                  object
 3   DIA                  object
 4   HORA                 object
 5   FECHA                datetime64[ns]
 6   DIA_SEMANA           object
 7   AM_PM                object
 8   TEMPORADA            object
 9   TEMPORADA_NUM        object
 10  Es_Festivo           object
 11  Es_FinSemana         object
 12  TEMPERATURA          float64
 13  VIENTO               float64
 14  PRESION              float64
 15  HUMEDAD              float64
 16  PRECIPITACION_1h     float64
 17  PRECIPITACION_3h     float64
 18  DESC_TIEMPO          object
 19  DESC_TIEMPO_detalle  object
 20  CLUSTER_FullCols     object
 21  CLUSTER_soloGeo5     object
 22  CLUSTER_soloGeo7     object
 23  CLUSTER_soloDemanda  object
 24  DEMANDA              object
dtypes: datetime64[ns](1), float64(6), object(18)
memory usage: 646.9+ MB

In [13]:
df_final['CLUSTER_FullCols'] = df_final['CLUSTER_FullCols'].astype(np.int64)
df_final['CLUSTER_soloGeo5'] = df_final['CLUSTER_soloGeo5'].astype(np.int64)
df_final['CLUSTER_soloGeo7'] = df_final['CLUSTER_soloGeo7'].astype(np.int64)
df_final['CLUSTER_soloDemanda'] = df_final['CLUSTER_soloDemanda'].astype(np.int64)
df_final['TEMPORADA_NUM'] = df_final['TEMPORADA_NUM'].astype(np.int64)
df_final['DEMANDA'] = df_final['DEMANDA'].astype(np.int64)

df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3261120 entries, 0 to 2912137
Data columns (total 25 columns):
 #   Column               Dtype
---  ------               -----
 0   ESTACION             object
 1   ANIO                 object
 2   MES                  object
 3   DIA                  object
 4   HORA                 object
 5   FECHA                datetime64[ns]
 6   DIA_SEMANA           object
 7   AM_PM                object
 8   TEMPORADA            object
 9   TEMPORADA_NUM        int64
 10  Es_Festivo           object
 11  Es_FinSemana         object
 12  TEMPERATURA          float64
 13  VIENTO               float64
 14  PRESION              float64
 15  HUMEDAD              float64
 16  PRECIPITACION_1h     float64
 17  PRECIPITACION_3h     float64
 18  DESC_TIEMPO          object
 19  DESC_TIEMPO_detalle  object
 20  CLUSTER_FullCols     int64
 21  CLUSTER_soloGeo5     int64
 22  CLUSTER_soloGeo7     int64
 23  CLUSTER_soloDemanda  int64
 24  DEMANDA              int64
dtypes: datetime64[ns](1), float64(6), int64(6), object(12)
memory usage: 646.9+ MB

In [14]:
df_final

,ESTACION,ANIO,MES,DIA,HORA,FECHA,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,...,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,DESC_TIEMPO,DESC_TIEMPO_detalle,CLUSTER_FullCols,CLUSTER_soloGeo5,CLUSTER_soloGeo7,CLUSTER_soloDemanda,DEMANDA
0,1,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,56.0,0.0,0.0,Clear,sky is clear,4,4,1,0,0
0,1,2018,1,1,1,2018-01-01 01:00:00,2,AM,INVIERNO,1,...,55.0,0.0,0.0,Clear,sky is clear,4,4,1,0,0
0,1,2018,1,1,2,2018-01-01 02:00:00,2,AM,INVIERNO,1,...,60.0,0.0,0.0,Clear,sky is clear,4,4,1,0,0
0,1,2018,1,1,3,2018-01-01 03:00:00,2,AM,INVIERNO,1,...,59.0,0.0,0.0,Clear,sky is clear,4,4,1,0,0
0,1,2018,1,1,4,2018-01-01 04:00:00,2,AM,INVIERNO,1,...,57.0,0.0,0.0,Clear,sky is clear,4,4,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911680,175,2020,2,29,19,2020-02-29 19:00:00,7,PM,INVIERNO,1,...,60.0,0.0,0.0,Clouds,few clouds,0,0,1,2,8
2911809,175,2020,2,29,20,2020-02-29 20:00:00,7,PM,INVIERNO,1,...,61.0,0.0,0.0,Clouds,few clouds,0,0,1,2,3
2911921,175,2020,2,29,21,2020-02-29 21:00:00,7,PM,INVIERNO,1,...,67.0,0.0,0.0,Clouds,few clouds,0,0,1,2,1
2912014,175,2020,2,29,22,2020-02-29 22:00:00,7,PM,INVIERNO,1,...,69.0,0.0,0.0,Clouds,few clouds,0,0,1,2,2
2912137,175,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,69.0,0.0,0.0,Clouds,few clouds,0,0,1,2,6

In [15]:
df_final[df_final['DEMANDA']==0]

,ESTACION,ANIO,MES,DIA,HORA,FECHA,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,...,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,DESC_TIEMPO,DESC_TIEMPO_detalle,CLUSTER_FullCols,CLUSTER_soloGeo5,CLUSTER_soloGeo7,CLUSTER_soloDemanda,DEMANDA
0,1,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,56.0,0.0,0.0,Clear,sky is clear,4,4,1,0,0
0,1,2018,1,1,1,2018-01-01 01:00:00,2,AM,INVIERNO,1,...,55.0,0.0,0.0,Clear,sky is clear,4,4,1,0,0
0,1,2018,1,1,2,2018-01-01 02:00:00,2,AM,INVIERNO,1,...,60.0,0.0,0.0,Clear,sky is clear,4,4,1,0,0
0,1,2018,1,1,3,2018-01-01 03:00:00,2,AM,INVIERNO,1,...,59.0,0.0,0.0,Clear,sky is clear,4,4,1,0,0
0,1,2018,1,1,4,2018-01-01 04:00:00,2,AM,INVIERNO,1,...,57.0,0.0,0.0,Clear,sky is clear,4,4,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,175,2020,2,27,3,2020-02-27 03:00:00,5,AM,INVIERNO,1,...,66.0,0.0,0.0,Clouds,few clouds,0,0,1,2,0
0,175,2020,2,28,1,2020-02-28 01:00:00,6,AM,INVIERNO,1,...,54.0,0.0,0.0,Clear,sky is clear,0,0,1,2,0
0,175,2020,2,28,2,2020-02-28 02:00:00,6,AM,INVIERNO,1,...,57.0,0.0,0.0,Clear,sky is clear,0,0,1,2,0
0,175,2020,2,28,3,2020-02-28 03:00:00,6,AM,INVIERNO,1,...,60.0,0.0,0.0,Clear,sky is clear,0,0,1,2,0
0,175,2020,2,29,5,2020-02-29 05:00:00,7,AM,INVIERNO,1,...,64.0,0.0,0.0,Clear,sky is clear,0,0,1,2,0

In [18]:
df_final.groupby('CLUSTER_soloGeo5').count()

,ESTACION,ANIO,MES,DIA,HORA,FECHA,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,...,PRESION,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,DESC_TIEMPO,DESC_TIEMPO_detalle,CLUSTER_FullCols,CLUSTER_soloGeo7,CLUSTER_soloDemanda,DEMANDA
CLUSTER_soloGeo5,,,,,,,,,,,,,,,,,,,,,
0,910080,910080,910080,910080,910080,910080,910080,910080,910080,910080,...,910080,910080,910080,910080,910080,910080,910080,910080,910080,910080
1,530880,530880,530880,530880,530880,530880,530880,530880,530880,530880,...,530880,530880,530880,530880,530880,530880,530880,530880,530880,530880
2,549840,549840,549840,549840,549840,549840,549840,549840,549840,549840,...,549840,549840,549840,549840,549840,549840,549840,549840,549840,549840
3,417120,417120,417120,417120,417120,417120,417120,417120,417120,417120,...,417120,417120,417120,417120,417120,417120,417120,417120,417120,417120
4,853200,853200,853200,853200,853200,853200,853200,853200,853200,853200,...,853200,853200,853200,853200,853200,853200,853200,853200,853200,853200

### Validación de resultados en base a suma de DEMANDA

In [19]:
pd.set_option('display.max_rows', None)

In [20]:
# DF Original
df_tracks.groupby('ESTACION').agg(DEMANDA=('DEMANDA', 'sum'), CUENTA=('DEMANDA', 'count'))
#df_tracks.groupby('ESTACION').agg(DEMANDA=('DEMANDA', 'sum'), CUENTA=('DEMANDA', 'count')).to_clipboard()

          DEMANDA  CUENTA
ESTACION
1           90192   19681
2           42031   14344
3           69541   19659
4           48318   16108
5           44461   17600
6           91139   21066
7           53032   18130
8           61062   19377
9          103651   20090
10          56244   18241
11          40169   14686
12          54704   18761
13          89073   21129
14          58941   17987
15          36183   15723
16          46635   15974
17          65194   19439
18          55197   18750
19          97046   21071
20          51519   17088
21          56919   17043
23          30191    6323
24          17679    6299
25          53103   17641
26          80312   20914
27          50056   18154
28          12832    8085
29          18887   10810
30          75012   18579
31          82878   20268
32          24036    9742
33          56404   16520
34          40390   15972
35          38704   16098
36          35723   15901
37          21393    9732
38          91534   21697
39          38268   15685
40          38979   15939
41          81418   19751
42          71671   18954
43         128966   21313
44          55861   19033
45          85789   18388
46          83009   20703
47          51513   18428
48          61886   18725
49          98678   20729
50          52151   17062
51          50449   18123
52          79294   20230
53          75000   18943
54          57465   18954
55          71958   20015
56          86286   21686
57         140045   22559
58         108209   21216
59          93973   21601
60          36681   15654
61          27043   12388
62          81169   19926
63          53179   18837
64         104960   18904
65          68305   18119
66          52895   16598
67          57127   17006
69          46464   14082
71          64432   18800
72          38988   13860
73          58038   15531
74          80698   19396
75          65592   18150
76          62226   17696
77          58367   17375
78          72099   16707
79          78593   18421
80          50161   16919
81          51306   16672
82          56525   17774
83          99925   19945
84          81243   18995
85          33413   14417
86          64488   18655
87          39175   15014
88          21389   10168
89          44382   15840
90         122696   21042
91          67233   18774
92          44364   14598
93          45387   15140
94          45563   16455
95          69157   18221
96          56929   17398
97          33379   13299
98          33731   13269
99          59609   17718
100         35702   13164
101         38256   15081
102         48675   17464
103         65332   18202
104         32235   13862
105         32532   13866
106         55570   17465
107         33814   13632
108         83077   18440
109         36815   13458
110         55734   16339
111         29798   12195
112         35697   13635
113         64466   17212
114         77590   19300
115         59639   16666
116         46588   16227
117         34388   15248
118         66474   19566
119         17845   10067
120         24070   12011
121         44811   15849
122         40685   16398
123         51269   18009
124         46474   17256
125         44606   16672
126         46737   15489
127         37155   14340
128         87189   19872
129        112692   20899
130         57365   17062
131         72471   19603
132         80814   19158
133         75413   19245
134         57776   17779
135        109321   19885
136         70829   18779
137         41649   15117
138         29218   13448
139         69855   19267
140         41330   15150
141         35419   14458
142         54137   17598
143         38964   14302
144         21312   10867
145         63201   18148
146         28854   13505
147         29339   11703
148         42821   15174
149        120202   21451
150         24381   12128
151         28191   11618
152         29428   12474
153         51912   16598
154         54007   17130
155         67006   17506
156         63184   17380
157         77762   18265
158         38386   14374
159         34533   12925
160        106540   20028
161         92388   20480
162         90623   18360
163        144644   21759
164         87772   19372
165         37330   14485
166         80867   19441
167         54458   16144
168        107785   20719
169         89042   20390
170         90661   20129
171         58379   17302
172         57917   17496
173         19783   10912
174         33287   14239
175        126096   20419

In [21]:
# DF Corregido
df_final.groupby('ESTACION').agg(DEMANDA=('DEMANDA', 'sum'), CUENTA=('DEMANDA', 'count'))
#df_final.groupby('ESTACION').agg(DEMANDA=('DEMANDA', 'sum'), CUENTA=('DEMANDA', 'count')).to_clipboard()

          DEMANDA  CUENTA
ESTACION
1           63706   18960
2           28020   18960
3           52275   18960
4           35135   18960
5           32312   18960
6           66034   18960
7           39552   18960
8           45164   18960
9           75799   18960
10          40392   18960
11          28719   18960
12          39395   18960
13          66768   18960
14          44072   18960
15          26257   18960
16          32292   18960
17          47826   18960
18          41596   18960
19          76820   18960
20          38582   18960
21          43841   18960
23           5395   18960
24           4872   18960
25          38660   18960
26          58929   18960
27          37526   18960
28           8824   18960
29          13224   18960
30          55200   18960
31          61722   18960
32          13027   18960
33          42317   18960
34          29206   18960
35          26823   18960
36          25772   18960
37          14358   18960
38          68450   18960
39          27724   18960
40          28343   18960
41          61106   18960
42          51963   18960
43          92060   18960
44          41342   18960
45          56378   18960
46          63081   18960
47          38422   18960
48          46167   18960
49          73510   18960
50          38874   18960
51          38280   18960
52          59205   18960
53          54853   18960
54          42444   18960
55          52600   18960
56          64287   18960
57         101946   18960
58          80440   18960
59          68511   18960
60          29964   18960
61          19811   18960
62          58296   18960
63          37842   18960
64          75715   18960
65          49953   18960
66          38267   18960
67          42222   18960
69          34069   18960
71          47921   18960
72          28743   18960
73          43310   18960
74          58611   18960
75          47797   18960
76          46823   18960
77          42521   18960
78          53546   18960
79          57887   18960
80          36771   18960
81          38243   18960
82          42224   18960
83          75680   18960
84          61425   18960
85          24984   18960
86          47289   18960
87          29319   18960
88          16348   18960
89          32735   18960
90          91830   18960
91          50504   18960
92          32497   18960
93          32199   18960
94          34187   18960
95          51090   18960
96          41710   18960
97          23896   18960
98          23577   18960
99          42271   18960
100         25522   18960
101         28218   18960
102         35532   18960
103         48156   18960
104         23842   18960
105         23890   18960
106         41259   18960
107         24258   18960
108         59614   18960
109         26646   18960
110         39191   18960
111         21342   18960
112         25957   18960
113         46247   18960
114         54106   18960
115         43404   18960
116         34227   18960
117         25478   18960
118         49036   18960
119         13451   18960
120         17568   18960
121         34495   18960
122         29610   18960
123         38117   18960
124         33287   18960
125         33302   18960
126         37006   18960
127         28075   18960
128         64254   18960
129         82420   18960
130         44731   18960
131         53842   18960
132         58467   18960
133         54124   18960
134         41745   18960
135         80399   18960
136         52832   18960
137         29297   18960
138         20887   18960
139         50756   18960
140         29378   18960
141         26113   18960
142         39626   18960
143         29363   18960
144         14937   18960
145         46880   18960
146         20039   18960
147         21119   18960
148         30649   18960
149         90217   18960
150         18428   18960
151         20119   18960
152         21584   18960
153         38741   18960
154         40136   18960
155         49576   18960
156         45883   18960
157         63186   18960
158         28309   18960
159         25073   18960
160         78061   18960
161         67263   18960
162         65183   18960
163        106389   18960
164         63994   18960
165         27073   18960
166         58370   18960
167         38790   18960
168         78882   18960
169         67095   18960
170         65247   18960
171         42943   18960
172         42353   18960
173         14404   18960
174         23628   18960
175        102974   18960

In [22]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3261120 entries, 0 to 2912137
Data columns (total 25 columns):
 #   Column               Dtype
---  ------               -----
 0   ESTACION             object
 1   ANIO                 object
 2   MES                  object
 3   DIA                  object
 4   HORA                 object
 5   FECHA                datetime64[ns]
 6   DIA_SEMANA           object
 7   AM_PM                object
 8   TEMPORADA            object
 9   TEMPORADA_NUM        int64
 10  Es_Festivo           object
 11  Es_FinSemana         object
 12  TEMPERATURA          float64
 13  VIENTO               float64
 14  PRESION              float64
 15  HUMEDAD              float64
 16  PRECIPITACION_1h     float64
 17  PRECIPITACION_3h     float64
 18  DESC_TIEMPO          object
 19  DESC_TIEMPO_detalle  object
 20  CLUSTER_FullCols     int64
 21  CLUSTER_soloGeo5     int64
 22  CLUSTER_soloGeo7     int64
 23  CLUSTER_soloDemanda  int64
 24  DEMANDA              int64
dtypes: datetime64[ns](1), float64(6), int64(6), object(12)
memory usage: 646.9+ MB

In [23]:
pd.set_option('display.max_rows', 10)

### Export df_final a CSV

In [24]:
df_final.to_csv('../../data/DataFrame_Final_Cierre_Cluster_FullFecha.csv', index=False)
#df_final.to_csv('../../data/test.csv', index=False)

In [ ]:
test=df_final.groupby(by='TEMPORADA').count()
test

In [ ]:
test=df_final.groupby(by='ANIO').count()
test

In [ ]:
df_final.groupby('ANIO').agg(DEMANDA=('DEMANDA', 'sum'))

In [ ]:
DF2 = pd.read_csv('../../data/test.csv', parse_dates=['FECHA'])
DF2.info()

In [ ]:
import pandas as pd
df_tracks = pd.read_csv('../../data/DataFrame_Final_Cierre_Cluster_FullFecha.csv', parse_dates=['FECHA'])

In [ ]:
df_tracks.info()