In [1]:
import pandas as pd
import numpy as np
import time
import datetime

%run "../1. Librerias Mongo/MongoDB_Connections.ipynb"
%run "../1. Librerias Mongo/MongoDB_Funciones_Consultas.ipynb"

### Carga de datos de entrada

In [2]:
# MOVIMIENTOS

#DF = pd.read_csv('../../data/DataFrame_Final_Cierre.csv', parse_dates=['FECHA'])
df_tracks = pd.read_csv('../../data/DataFrame_Final_Cierre_Cluster.csv', parse_dates=['FECHA'])

df_clusterFull = pd.read_csv('../../data/Clusterizada_DataFull.csv')
df_clusterGeog = pd.read_csv('../../data/Clusterizada_soloGeografico.csv')
df_clusterDmnd = pd.read_csv('../../data/Clusterizada_soloDemandaRatio.csv')

In [3]:
df_tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2142248 entries, 0 to 2142247
Data columns (total 24 columns):
 #   Column               Dtype
---  ------               -----
 0   ESTACION             int64
 1   ANIO                 int64
 2   MES                  int64
 3   DIA                  int64
 4   HORA                 int64
 5   FECHA                datetime64[ns]
 6   DIA_SEMANA           int64
 7   AM_PM                object
 8   TEMPORADA            object
 9   TEMPORADA_NUM        int64
 10  Es_Festivo           int64
 11  Es_FinSemana         int64
 12  TEMPERATURA          float64
 13  VIENTO               float64
 14  PRESION              int64
 15  HUMEDAD              int64
 16  PRECIPITACION_1h     float64
 17  PRECIPITACION_3h     float64
 18  DESC_TIEMPO          object
 19  DESC_TIEMPO_detalle  object
 20  CLUSTER_FullCols     int64
 21  CLUSTER_soloGeo      int64
 22  CLUSTER_soloDemanda  int64
 23  DEMANDA              int64
dtypes: datetime64[ns](1), float64(4), int64(15), object(4)
memory usage: 392.3+ MB

In [4]:
# ESTACIONES: Lista de estaciones en DF

df_estaciones = df_tracks.ESTACION.unique()
df_estaciones

array([  6,   8,   9,  12,  15,  17,  19,  20,  21,  25,  26,  31,  36,
        39,  40,  41,  43,  44,  45,  47,  48,  49,  50,  52,  53,  54,
        55,  56,  57,  58,  59,  63,  65,  66,  67,  69,  72,  73,  74,
        75,  76,  77,  78,  79,  80,  81,  82,  85,  87,  90,  92,  93,
        95,  96,  98, 101, 102, 103, 104, 105, 106, 107, 110, 113, 114,
       122, 123, 124, 125, 126, 128, 129, 130, 131, 132, 133, 134, 135,
       136, 139, 145, 148, 149, 150, 152, 153, 154, 155, 156, 157, 158,
       160, 161, 162, 163, 164, 166, 167, 168, 170, 172, 175,   7,  11,
        13,  14,  16,  18,  27,  34,  51,  64,  71,  83,  91,  94, 118,
       140, 141, 142, 143, 147,   5,  42,  46,  62,  86, 117, 121, 137,
       165,   4, 111, 116, 146, 151,  30,  89, 108, 112, 159, 169,   3,
        60,  88,  97, 109, 115, 120, 138, 171,  33,  84,  99, 127, 144,
       173, 174,   1, 100,  10,  35,  38,   2,  32,  37, 119,  61,  29,
        28, 179, 191, 178, 195, 199, 215, 192, 193, 198], dtype=int64)

In [5]:
# Meteorologia

db_Meteo = _connect_mongo('cloud', 'cluster0.15npsxw.mongodb.net', None, 'ucmtfm2022', 'UCM_2022', 'BiciMAD', 'Meteo_US_NivelHora')

t_ini = time.time()
#data_Meteo = _consulta_meteoUS_por_anio(db_Meteo, 2020)
data_Meteo = _consulta_meteoUS_full(db_Meteo)
t_end = time.time()

print (t_end - t_ini)

# Se agrega campo FECHA para join
data_Meteo['FECHA'] =pd.to_datetime({'year': data_Meteo['ANIO'],
                                          'month': data_Meteo["MES"]
                                          ,'day':  data_Meteo['DIA']
                                          ,'hour':data_Meteo['HORA']},
                                          format='%d-%m-%Y', errors='coerce')

data_Meteo.info()

Conexion OK
Collection(Database(MongoClient(host=['ac-x1d17w2-shard-00-02.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-01.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-00.15npsxw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-xyv6ql-shard-0', tls=True, serverselectiontimeoutms=4000, tlscafile='C:\\ProgramData\\Anaconda3\\lib\\site-packages\\certifi\\cacert.pem'), 'BiciMAD'), 'Meteo_US_NivelHora')
1.0684337615966797
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26304 entries, 0 to 26303
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ANIO                 26304 non-null  int64
 1   MES                  26304 non-null  int64
 2   DIA                  26304 non-null  int64
 3   HORA                 26304 non-null  int64
 4   TEMPERATURA          26304 non-null  object
 5   TEMP_SENS_TERMC      26304 non-null  object
 6   VIENTO               26304 non-null  object
 7   PRESION              26304 non-null  object
 8   HUMEDAD              26304 non-null  object
 9   PRECIPITACION_1h     26304 non-null  object
 10  PRECIPITACION_3h     26304 non-null  object
 11  NIEVE_1h             26304 non-null  object
 12  NIEVE_3h             26304 non-null  int64
 13  ID_TIPO_TIEMPO       26304 non-null  object
 14  DESC_TIEMPO          26304 non-null  object
 15  DESC_TIEMPO_detalle  26304 non-null  object
 16  FECHA                26304 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(11)
memory usage: 3.4+ MB

### Creaci√≥n de DF de fechas

In [6]:
# FECHAS DE FESTIVOS

df_festivos_in = pd.read_csv('../../data/Festivos_Madrid.csv', sep=';')
# Se agrega campo FECHA para join
df_festivos_in['FECHA'] =pd.to_datetime({'year': df_festivos_in['ANIO'],
                                          'month': df_festivos_in["MES"]
                                          ,'day':  df_festivos_in['DIA']},
                                          format='%d-%m-%Y', errors='coerce')
df_festivos_in.info()
df_festivos = df_festivos_in[df_festivos_in['FESTIVO']==1]

df_festivos.info()
df_festivos[df_festivos['ANIO']==2018].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ANIO     1461 non-null   int64
 1   MES      1461 non-null   int64
 2   DIA      1461 non-null   int64
 3   FESTIVO  1461 non-null   int64
 4   FECHA    1461 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(4)
memory usage: 57.2 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 0 to 1454
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ANIO     57 non-null     int64
 1   MES      57 non-null     int64
 2   DIA      57 non-null     int64
 3   FESTIVO  57 non-null     int64
 4   FECHA    57 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(4)
memory usage: 2.7 KB

     ANIO  MES  DIA  FESTIVO      FECHA
365  2018    1    1        1 2018-01-01
370  2018    1    6        1 2018-01-06
452  2018    3   29        1 2018-03-29
453  2018    3   30        1 2018-03-30
485  2018    5    1        1 2018-05-01

### Creaci√≥n de rango total de fechas

In [7]:
# Creaci√≥n de rangos de fecha v√°lidos
# sdate = datetime.strptime('01/01/2018 00', '%d/%m/%Y %H')
# edate = datetime.strptime('31/01/2018 23', '%d/%m/%Y %H')

sdate = np.datetime64('2018-01-01T00:00:00')
edate = np.datetime64('2020-02-29T23:00:00')

df_dates=pd.date_range(start=sdate, end=edate, freq='H')

print(df_dates.shape)
df_dates

(18960,)

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2020-02-29 14:00:00', '2020-02-29 15:00:00',
               '2020-02-29 16:00:00', '2020-02-29 17:00:00',
               '2020-02-29 18:00:00', '2020-02-29 19:00:00',
               '2020-02-29 20:00:00', '2020-02-29 21:00:00',
               '2020-02-29 22:00:00', '2020-02-29 23:00:00'],
              dtype='datetime64[ns]', length=18960, freq='H')

### EJECUCION DE PROCESO

In [8]:
# df_estaciones = [175]
# type(df_estaciones)

In [9]:
clusterFull = df_clusterFull.loc[df_clusterFull['ESTACION'] == df_estaciones[0], ['CLUSTER']].iloc[0]['CLUSTER']
type(clusterFull)

numpy.int64

In [10]:
i=0
df_final = pd.DataFrame(columns = ['ESTACION', 'ANIO', 'MES', 'DIA', 'HORA', 'FECHA', 'DIA_SEMANA', 'AM_PM', 'TEMPORADA', 
                            'TEMPORADA_NUM', 'Es_Festivo', 'Es_FinSemana', 'TEMPERATURA', 'VIENTO', 'PRESION', 'HUMEDAD', 
                            'PRECIPITACION_1h', 'PRECIPITACION_3h', 'DESC_TIEMPO', 'DESC_TIEMPO_detalle', 'CLUSTER_FullCols', 
                            'CLUSTER_soloGeo', 'CLUSTER_soloDemanda', 'DEMANDA'])

t_ini = time.time()

for estacion in df_estaciones:
    print('Estacion: '+str(estacion))
    
    df_data = df_tracks[df_tracks['ESTACION']==estacion]
    
    df_final_estacion = pd.DataFrame(columns = ['ESTACION', 'ANIO', 'MES', 'DIA', 'HORA', 'FECHA', 'DIA_SEMANA', 'AM_PM', 'TEMPORADA', 
                            'TEMPORADA_NUM', 'Es_Festivo', 'Es_FinSemana', 'TEMPERATURA', 'VIENTO', 'PRESION', 'HUMEDAD', 
                            'PRECIPITACION_1h', 'PRECIPITACION_3h', 'DESC_TIEMPO', 'DESC_TIEMPO_detalle', 'CLUSTER_FullCols', 
                            'CLUSTER_soloGeo', 'CLUSTER_soloDemanda', 'DEMANDA'])    
    
    t_ini_estacion = time.time()
    for fecha in df_dates:
        
        # Variable dia semana
        if fecha.isoweekday()==7:
            dia_semana=1
        else:
            dia_semana=fecha.isoweekday()+1
            
        # Variable Es_Festivo
        fec_festivo = np.datetime64(fecha.date())        
        if fec_festivo in df_festivos['FECHA'].values:
            es_festivo = 1
        else:
            es_festivo = 0
                        
        # Variable Es_FinSemana
        if ((dia_semana==1) or (dia_semana==7)):
            es_finsemana = 1
        else:
            es_finsemana = 0
        
        # Variable AM_PM
        if fecha.hour<=12:
            ampm='AM'
        else:
            ampm='PM'
            
        # Variable TEMPORADA
        if fecha.month<=3:
            temporada='INVIERNO'
            temporada_num=1
        elif fecha.month<=6:
            temporada='PRIMAVERA'
            temporada_num=2
        elif fecha.month<=9:
            temporada='VERANO'
            temporada_num=3
        else:
            temporada='OTONO'
            temporada_num=4
            
        clusterFull = df_clusterFull.loc[df_clusterFull['ESTACION'] == estacion, ['CLUSTER']].iloc[0]['CLUSTER']        
        clusterGeog = df_clusterGeog.loc[df_clusterGeog['ESTACION'] == estacion, ['CLUSTER']].iloc[0]['CLUSTER']
        clusterDmnd = df_clusterDmnd.loc[df_clusterDmnd['ESTACION'] == estacion, ['CLUSTER']].iloc[0]['CLUSTER']
                
                
        if fecha not in df_data[df_data['ESTACION']==estacion]['FECHA'].values:
            i=i+1
            meteo = data_Meteo[data_Meteo['FECHA']==fecha]
            new_row_dict = {
                'ESTACION': estacion,
                'ANIO': fecha.year,
                'MES': fecha.month,
                'DIA': fecha.day,
                'HORA': fecha.hour,
                'FECHA': fecha,
                'DIA_SEMANA': dia_semana,
                'AM_PM': ampm,
                'TEMPORADA': temporada,
                'TEMPORADA_NUM': temporada_num,
                'Es_Festivo': es_festivo,
                'Es_FinSemana': es_finsemana,
                'TEMPERATURA': float(meteo.TEMPERATURA.iloc[0]),
                'VIENTO': float(meteo.VIENTO.iloc[0]),
                'PRESION': float(meteo.PRESION.iloc[0]),
                'HUMEDAD': float(meteo.HUMEDAD.iloc[0]),
                'PRECIPITACION_1h': float(meteo.PRECIPITACION_1h.iloc[0]),
                'PRECIPITACION_3h': float(meteo.PRECIPITACION_3h.iloc[0]),
                'DESC_TIEMPO': meteo.DESC_TIEMPO.iloc[0],
                'DESC_TIEMPO_detalle': meteo.DESC_TIEMPO_detalle.iloc[0],
                'CLUSTER_FullCols': clusterFull,
                'CLUSTER_soloGeo': clusterGeog,
                'CLUSTER_soloDemanda': clusterDmnd,
                'DEMANDA': 0
            }
            
            new_row = pd.DataFrame(new_row_dict, index=[0])
            
            #print(meteo.TEMPERATURA.iloc[0])
            df_final_estacion = pd.concat([df_final_estacion, new_row])
            
            #df = pd.concat([df, i])
        else:
            #print(df_data[(df_data['ESTACION']==estacion) & (df_data['FECHA']==fecha)])
            old_row = df_data[(df_data['ESTACION']==estacion) & (df_data['FECHA']==fecha)]
            df_final_estacion = pd.concat([df_final_estacion, old_row])
            
            
    df_final = pd.concat([df_final, df_final_estacion])
    
    t_end_estacion = time.time()
    print('Fechas vac√≠as:' + str(i))
    print('Tiempo: '+str(t_end_estacion-t_ini_estacion))
    i=0
    

t_end = time.time()
print (t_end - t_ini)

Estacion: 6
Fechas vac√≠as:3550
Tiempo: 73.3277108669281
Estacion: 8
Fechas vac√≠as:4590
Tiempo: 73.81846022605896
Estacion: 9
Fechas vac√≠as:4355
Tiempo: 71.75799870491028
Estacion: 12
Fechas vac√≠as:5325
Tiempo: 72.20662546157837
Estacion: 15
Fechas vac√≠as:7629
Tiempo: 71.06495785713196
Estacion: 17
Fechas vac√≠as:4766
Tiempo: 71.91966080665588
Estacion: 19
Fechas vac√≠as:3303
Tiempo: 73.3746280670166
Estacion: 20
Fechas vac√≠as:6376
Tiempo: 71.06476163864136
Estacion: 21
Fechas vac√≠as:6325
Tiempo: 71.54961085319519
Estacion: 25
Fechas vac√≠as:5988
Tiempo: 72.80268979072571
Estacion: 26
Fechas vac√≠as:3599
Tiempo: 78.1555848121643
Estacion: 31
Fechas vac√≠as:4042
Tiempo: 73.55855870246887
Estacion: 36
Fechas vac√≠as:7382
Tiempo: 70.9843807220459
Estacion: 39
Fechas vac√≠as:7650
Tiempo: 71.21905851364136
Estacion: 40
Fechas vac√≠as:7364
Tiempo: 70.99847912788391
Estacion: 41
Fechas vac√≠as:4427
Tiempo: 71.3741147518158
Estacion: 43
Fechas vac√≠as:3269
Tiempo: 72.38821625709534
Estacion: 44
Fechas vac√≠as:4964
Tiempo: 70.53049206733704
Estacion: 45
Fechas vac√≠as:6426
Tiempo: 72.08469724655151
Estacion: 47
Fechas vac√≠as:5372
Tiempo: 71.87369322776794
Estacion: 48
Fechas vac√≠as:5220
Tiempo: 72.64438223838806
Estacion: 49
Fechas vac√≠as:3796
Tiempo: 72.69693231582642
Estacion: 50
Fechas vac√≠as:6302
Tiempo: 71.12390971183777
Estacion: 52
Fechas vac√≠as:4040
Tiempo: 71.62637233734131
Estacion: 53
Fechas vac√≠as:5098
Tiempo: 71.8129997253418
Estacion: 54
Fechas vac√≠as:5073
Tiempo: 71.28949928283691
Estacion: 55
Fechas vac√≠as:4340
Tiempo: 72.18553924560547
Estacion: 56
Fechas vac√≠as:2978
Tiempo: 71.47275805473328
Estacion: 57
Fechas vac√≠as:2360
Tiempo: 72.1391191482544
Estacion: 58
Fechas vac√≠as:3449
Tiempo: 71.63268733024597
Estacion: 59
Fechas vac√≠as:3096
Tiempo: 71.49831652641296
Estacion: 63
Fechas vac√≠as:5301
Tiempo: 72.09067678451538
Estacion: 65
Fechas vac√≠as:5646
Tiempo: 71.12159442901611
Estacion: 66
Fechas vac√≠as:6948
Tiempo: 71.56645894050598
Estacion: 67
Fechas vac√≠as:6486
Tiempo: 71.91733193397522
Estacion: 69
Fechas vac√≠as:8649
Tiempo: 71.33787488937378
Estacion: 72
Fechas vac√≠as:8817
Tiempo: 71.30801939964294
Estacion: 73
Fechas vac√≠as:7598
Tiempo: 70.53964281082153
Estacion: 74
Fechas vac√≠as:4586
Tiempo: 72.01708507537842
Estacion: 75
Fechas vac√≠as:5771
Tiempo: 70.73391532897949
Estacion: 76
Fechas vac√≠as:5906
Tiempo: 71.6125500202179
Estacion: 77
Fechas vac√≠as:6178
Tiempo: 71.47120523452759
Estacion: 78
Fechas vac√≠as:6632
Tiempo: 71.07251596450806
Estacion: 79
Fechas vac√≠as:5459
Tiempo: 71.2729001045227
Estacion: 80
Fechas vac√≠as:6556
Tiempo: 70.48036527633667
Estacion: 81
Fechas vac√≠as:6807
Tiempo: 70.32045245170593
Estacion: 82
Fechas vac√≠as:5952
Tiempo: 70.52671265602112
Estacion: 85
Fechas vac√≠as:8199
Tiempo: 69.86619329452515
Estacion: 87
Fechas vac√≠as:7878
Tiempo: 69.78786301612854
Estacion: 90
Fechas vac√≠as:3452
Tiempo: 71.05925154685974
Estacion: 92
Fechas vac√≠as:8230
Tiempo: 69.86505556106567
Estacion: 93
Fechas vac√≠as:8020
Tiempo: 70.22198867797852
Estacion: 95
Fechas vac√≠as:5588
Tiempo: 70.81090927124023
Estacion: 96
Fechas vac√≠as:6177
Tiempo: 70.60174798965454
Estacion: 98
Fechas vac√≠as:9462
Tiempo: 69.32452321052551
Estacion: 101
Fechas vac√≠as:7916
Tiempo: 70.47573328018188
Estacion: 102
Fechas vac√≠as:6311
Tiempo: 70.29011845588684
Estacion: 103
Fechas vac√≠as:5524
Tiempo: 70.39901685714722
Estacion: 104
Fechas vac√≠as:8803
Tiempo: 70.18074321746826
Estacion: 105
Fechas vac√≠as:8814
Tiempo: 70.20969533920288
Estacion: 106
Fechas vac√≠as:6155
Tiempo: 70.86537075042725
Estacion: 107
Fechas vac√≠as:9184
Tiempo: 70.42535948753357
Estacion: 110
Fechas vac√≠as:7181
Tiempo: 70.7904806137085
Estacion: 113
Fechas vac√≠as:6451
Tiempo: 71.41377997398376
Estacion: 114
Fechas vac√≠as:5007
Tiempo: 71.71318674087524
Estacion: 122
Fechas vac√≠as:7050
Tiempo: 71.20250368118286
Estacion: 123
Fechas vac√≠as:5674
Tiempo: 71.74795651435852
Estacion: 124
Fechas vac√≠as:6380
Tiempo: 71.89621829986572
Estacion: 125
Fechas vac√≠as:6612
Tiempo: 71.63909411430359
Estacion: 126
Fechas vac√≠as:7358
Tiempo: 71.35256052017212
Estacion: 128
Fechas vac√≠as:4276
Tiempo: 72.33619785308838
Estacion: 129
Fechas vac√≠as:3652
Tiempo: 72.58489346504211
Estacion: 130
Fechas vac√≠as:6048
Tiempo: 70.70505833625793
Estacion: 131
Fechas vac√≠as:4520
Tiempo: 70.70791506767273
Estacion: 132
Fechas vac√≠as:5002
Tiempo: 70.5914978981018
Estacion: 133
Fechas vac√≠as:4842
Tiempo: 70.38469004631042
Estacion: 134
Fechas vac√≠as:6010
Tiempo: 70.39799952507019
Estacion: 135
Fechas vac√≠as:4524
Tiempo: 70.49017357826233
Estacion: 136
Fechas vac√≠as:5223
Tiempo: 70.28476119041443
Estacion: 139
Fechas vac√≠as:4863
Tiempo: 70.29595398902893
Estacion: 145
Fechas vac√≠as:5574
Tiempo: 70.16236352920532
Estacion: 148
Fechas vac√≠as:7947
Tiempo: 69.75830340385437
Estacion: 149
Fechas vac√≠as:3338
Tiempo: 70.95243382453918
Estacion: 150
Fechas vac√≠as:10036
Tiempo: 69.55248665809631
Estacion: 152
Fechas vac√≠as:9874
Tiempo: 69.3934097290039
Estacion: 153
Fechas vac√≠as:6830
Tiempo: 71.10405230522156
Estacion: 154
Fechas vac√≠as:6337
Tiempo: 70.7984447479248
Estacion: 155
Fechas vac√≠as:6233
Tiempo: 70.1270923614502
Estacion: 156
Fechas vac√≠as:6165
Tiempo: 70.00630164146423
Estacion: 157
Fechas vac√≠as:4919
Tiempo: 70.81918048858643
Estacion: 158
Fechas vac√≠as:8584
Tiempo: 69.59038090705872
Estacion: 160
Fechas vac√≠as:4342
Tiempo: 70.73255562782288
Estacion: 161
Fechas vac√≠as:3881
Tiempo: 70.47109079360962
Estacion: 162
Fechas vac√≠as:5734
Tiempo: 69.71685028076172
Estacion: 163
Fechas vac√≠as:3075
Tiempo: 71.18331217765808
Estacion: 164
Fechas vac√≠as:4838
Tiempo: 70.75596141815186
Estacion: 166
Fechas vac√≠as:4800
Tiempo: 70.02443861961365
Estacion: 167
Fechas vac√≠as:7317
Tiempo: 70.0381727218628
Estacion: 168
Fechas vac√≠as:3750
Tiempo: 70.39894580841064
Estacion: 170
Fechas vac√≠as:4362
Tiempo: 70.123783826828
Estacion: 172
Fechas vac√≠as:6154
Tiempo: 70.12751913070679
Estacion: 175
Fechas vac√≠as:3037
Tiempo: 71.19089365005493
Estacion: 7
Fechas vac√≠as:5579
Tiempo: 68.34926104545593
Estacion: 11
Fechas vac√≠as:8419
Tiempo: 67.01354503631592
Estacion: 13
Fechas vac√≠as:3339
Tiempo: 68.5522232055664
Estacion: 14
Fechas vac√≠as:5737
Tiempo: 67.71399855613708
Estacion: 16
Fechas vac√≠as:8050
Tiempo: 66.77689146995544
Estacion: 18
Fechas vac√≠as:5033
Tiempo: 68.05874991416931
Estacion: 27
Fechas vac√≠as:5516
Tiempo: 67.48108458518982
Estacion: 34
Fechas vac√≠as:7388
Tiempo: 67.39144539833069
Estacion: 51
Fechas vac√≠as:5442
Tiempo: 68.00401043891907
Estacion: 64
Fechas vac√≠as:5101
Tiempo: 68.20399785041809
Estacion: 71
Fechas vac√≠as:5060
Tiempo: 67.78260087966919
Estacion: 83
Fechas vac√≠as:4173
Tiempo: 68.48994278907776
Estacion: 91
Fechas vac√≠as:5100
Tiempo: 68.05788969993591
Estacion: 94
Fechas vac√≠as:6874
Tiempo: 67.90186381340027
Estacion: 118
Fechas vac√≠as:4641
Tiempo: 68.12253618240356
Estacion: 140
Fechas vac√≠as:8129
Tiempo: 67.0010781288147
Estacion: 141
Fechas vac√≠as:8440
Tiempo: 67.06313157081604
Estacion: 142
Fechas vac√≠as:6114
Tiempo: 67.78271985054016
Estacion: 143
Fechas vac√≠as:8415
Tiempo: 66.84033679962158
Estacion: 147
Fechas vac√≠as:10564
Tiempo: 62.925254583358765
Estacion: 5
Fechas vac√≠as:6080
Tiempo: 67.62304997444153
Estacion: 42
Fechas vac√≠as:5145
Tiempo: 68.17708992958069
Estacion: 46
Fechas vac√≠as:3738
Tiempo: 68.96079659461975
Estacion: 62
Fechas vac√≠as:4544
Tiempo: 68.69005060195923
Estacion: 86
Fechas vac√≠as:5285
Tiempo: 68.13262987136841
Estacion: 117
Fechas vac√≠as:7835
Tiempo: 67.22461938858032
Estacion: 121
Fechas vac√≠as:7149
Tiempo: 67.59971952438354
Estacion: 137
Fechas vac√≠as:8143
Tiempo: 67.4232439994812
Estacion: 165
Fechas vac√≠as:8518
Tiempo: 67.19085812568665
Estacion: 4
Fechas vac√≠as:7270
Tiempo: 67.63159608840942
Estacion: 111
Fechas vac√≠as:10132
Tiempo: 66.66412115097046
Estacion: 116
Fechas vac√≠as:7175
Tiempo: 67.92005062103271
Estacion: 146
Fechas vac√≠as:9309
Tiempo: 66.80584478378296
Estacion: 151
Fechas vac√≠as:10629
Tiempo: 62.91138982772827
Estacion: 30
Fechas vac√≠as:5358
Tiempo: 68.12992811203003
Estacion: 89
Fechas vac√≠as:7320
Tiempo: 67.9013442993164
Estacion: 108
Fechas vac√≠as:5604
Tiempo: 68.57475972175598
Estacion: 112
Fechas vac√≠as:9046
Tiempo: 66.78886866569519
Estacion: 159
Fechas vac√≠as:9600
Tiempo: 66.44018054008484
Estacion: 169

Fechas vac√≠as:3924
Tiempo: 68.52374291419983
Estacion: 3
Fechas vac√≠as:4498
Tiempo: 68.53391242027283
Estacion: 60
Fechas vac√≠as:6811
Tiempo: 67.77686405181885
Estacion: 88
Fechas vac√≠as:11467
Tiempo: 62.60225534439087
Estacion: 97
Fechas vac√≠as:9254
Tiempo: 66.74178957939148
Estacion: 109
Fechas vac√≠as:9299
Tiempo: 66.88597106933594
Estacion: 115
Fechas vac√≠as:6896
Tiempo: 67.71278810501099
Estacion: 120
Fechas vac√≠as:10146
Tiempo: 65.88901543617249
Estacion: 138
Fechas vac√≠as:9337
Tiempo: 66.46347880363464
Estacion: 171
Fechas vac√≠as:6329
Tiempo: 67.74997353553772
Estacion: 33
Fechas vac√≠as:6823
Tiempo: 67.7214629650116
Estacion: 84
Fechas vac√≠as:4867
Tiempo: 68.470139503479
Estacion: 99
Fechas vac√≠as:6330
Tiempo: 67.51846766471863
Estacion: 127
Fechas vac√≠as:8346
Tiempo: 66.56541609764099
Estacion: 144
Fechas vac√≠as:11260
Tiempo: 63.098747968673706
Estacion: 173
Fechas vac√≠as:11034
Tiempo: 63.668753147125244
Estacion: 174
Fechas vac√≠as:8736
Tiempo: 67.3075065612793
Estacion: 1
Fechas vac√≠as:5048
Tiempo: 68.0597243309021
Estacion: 100
Fechas vac√≠as:9539
Tiempo: 66.46531677246094
Estacion: 10
Fechas vac√≠as:5669
Tiempo: 67.83814835548401
Estacion: 35
Fechas vac√≠as:7593
Tiempo: 67.0855348110199
Estacion: 38
Fechas vac√≠as:3007
Tiempo: 68.59199285507202
Estacion: 2
Fechas vac√≠as:9374
Tiempo: 65.78239130973816
Estacion: 32
Fechas vac√≠as:13356
Tiempo: 61.112329959869385
Estacion: 37
Fechas vac√≠as:12912
Tiempo: 62.24900722503662
Estacion: 119
Fechas vac√≠as:11534
Tiempo: 62.68466877937317
Estacion: 61
Fechas vac√≠as:9972
Tiempo: 66.44376182556152
Estacion: 29
Fechas vac√≠as:11168
Tiempo: 63.08033108711243
Estacion: 28
Fechas vac√≠as:13263
Tiempo: 62.49537396430969
Estacion: 179
Fechas vac√≠as:15384
Tiempo: 61.403696060180664
Estacion: 191
Fechas vac√≠as:16855
Tiempo: 60.86319327354431
Estacion: 178
Fechas vac√≠as:15406
Tiempo: 61.330583572387695
Estacion: 195
Fechas vac√≠as:15877
Tiempo: 61.16826319694519
Estacion: 199
Fechas vac√≠as:16531
Tiempo: 60.806090354919434
Estacion: 215
Fechas vac√≠as:16501
Tiempo: 60.871408224105835
Estacion: 192
Fechas vac√≠as:16073
Tiempo: 61.011077880859375
Estacion: 193
Fechas vac√≠as:16782
Tiempo: 61.01350927352905
Estacion: 198
Fechas vac√≠as:16138
Tiempo: 61.03380823135376
12353.941378593445

In [11]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3393840 entries, 0 to 2142246
Data columns (total 24 columns):
 #   Column               Dtype
---  ------               -----
 0   ESTACION             object
 1   ANIO                 object
 2   MES                  object
 3   DIA                  object
 4   HORA                 object
 5   FECHA                datetime64[ns]
 6   DIA_SEMANA           object
 7   AM_PM                object
 8   TEMPORADA            object
 9   TEMPORADA_NUM        object
 10  Es_Festivo           object
 11  Es_FinSemana         object
 12  TEMPERATURA          float64
 13  VIENTO               float64
 14  PRESION              object
 15  HUMEDAD              object
 16  PRECIPITACION_1h     float64
 17  PRECIPITACION_3h     float64
 18  DESC_TIEMPO          object
 19  DESC_TIEMPO_detalle  object
 20  CLUSTER_FullCols     object
 21  CLUSTER_soloGeo      object
 22  CLUSTER_soloDemanda  object
 23  DEMANDA              object
dtypes: datetime64[ns](1), float64(4), object(19)
memory usage: 647.3+ MB

In [12]:
df_final['CLUSTER_FullCols'] = df_final['CLUSTER_FullCols'].astype(np.int64)
df_final['CLUSTER_soloGeo'] = df_final['CLUSTER_soloGeo'].astype(np.int64)
df_final['CLUSTER_soloDemanda'] = df_final['CLUSTER_soloDemanda'].astype(np.int64)
df_final['TEMPORADA_NUM'] = df_final['TEMPORADA_NUM'].astype(np.int64)
df_final['DEMANDA'] = df_final['DEMANDA'].astype(np.int64)

df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3393840 entries, 0 to 2142246
Data columns (total 24 columns):
 #   Column               Dtype
---  ------               -----
 0   ESTACION             object
 1   ANIO                 object
 2   MES                  object
 3   DIA                  object
 4   HORA                 object
 5   FECHA                datetime64[ns]
 6   DIA_SEMANA           object
 7   AM_PM                object
 8   TEMPORADA            object
 9   TEMPORADA_NUM        int64
 10  Es_Festivo           object
 11  Es_FinSemana         object
 12  TEMPERATURA          float64
 13  VIENTO               float64
 14  PRESION              object
 15  HUMEDAD              object
 16  PRECIPITACION_1h     float64
 17  PRECIPITACION_3h     float64
 18  DESC_TIEMPO          object
 19  DESC_TIEMPO_detalle  object
 20  CLUSTER_FullCols     int64
 21  CLUSTER_soloGeo      int64
 22  CLUSTER_soloDemanda  int64
 23  DEMANDA              int64
dtypes: datetime64[ns](1), float64(4), int64(5), object(14)
memory usage: 647.3+ MB

In [13]:
df_final

,ESTACION,ANIO,MES,DIA,HORA,FECHA,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,...,PRESION,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,DESC_TIEMPO,DESC_TIEMPO_detalle,CLUSTER_FullCols,CLUSTER_soloGeo,CLUSTER_soloDemanda,DEMANDA
0,6,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,1031,56,0.0,0.0,Clear,sky is clear,0,4,0,2
0,6,2018,1,1,1,2018-01-01 01:00:00,2,AM,INVIERNO,1,...,1031.0,55.0,0.0,0.0,Clear,sky is clear,0,4,0,0
184,6,2018,1,1,2,2018-01-01 02:00:00,2,AM,INVIERNO,1,...,1031,60,0.0,0.0,Clear,sky is clear,0,4,0,2
0,6,2018,1,1,3,2018-01-01 03:00:00,2,AM,INVIERNO,1,...,1030.0,59.0,0.0,0.0,Clear,sky is clear,0,4,0,0
305,6,2018,1,1,4,2018-01-01 04:00:00,2,AM,INVIERNO,1,...,1032,57,0.0,0.0,Clear,sky is clear,0,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,198,2020,2,29,19,2020-02-29 19:00:00,7,PM,INVIERNO,1,...,1013.0,60.0,0.0,0.0,Clouds,few clouds,1,2,2,0
0,198,2020,2,29,20,2020-02-29 20:00:00,7,PM,INVIERNO,1,...,1014.0,61.0,0.0,0.0,Clouds,few clouds,1,2,2,0
0,198,2020,2,29,21,2020-02-29 21:00:00,7,PM,INVIERNO,1,...,1014.0,67.0,0.0,0.0,Clouds,few clouds,1,2,2,0
0,198,2020,2,29,22,2020-02-29 22:00:00,7,PM,INVIERNO,1,...,1015.0,69.0,0.0,0.0,Clouds,few clouds,1,2,2,0
2142246,198,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1015.0,69.0,0.0,0.0,Clouds,few clouds,1,2,2,3

In [14]:
df_final[df_final['DEMANDA']==0]

,ESTACION,ANIO,MES,DIA,HORA,FECHA,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,...,PRESION,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,DESC_TIEMPO,DESC_TIEMPO_detalle,CLUSTER_FullCols,CLUSTER_soloGeo,CLUSTER_soloDemanda,DEMANDA
0,6,2018,1,1,1,2018-01-01 01:00:00,2,AM,INVIERNO,1,...,1031.0,55.0,0.0,0.0,Clear,sky is clear,0,4,0,0
0,6,2018,1,1,3,2018-01-01 03:00:00,2,AM,INVIERNO,1,...,1030.0,59.0,0.0,0.0,Clear,sky is clear,0,4,0,0
0,6,2018,1,1,7,2018-01-01 07:00:00,2,AM,INVIERNO,1,...,1032.0,79.0,0.0,0.0,Clear,sky is clear,0,4,0,0
0,6,2018,1,1,8,2018-01-01 08:00:00,2,AM,INVIERNO,1,...,1032.0,82.0,0.0,0.0,Clear,sky is clear,0,4,0,0
0,6,2018,1,1,9,2018-01-01 09:00:00,2,AM,INVIERNO,1,...,1032.0,84.0,0.0,0.0,Clear,sky is clear,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,198,2020,2,29,18,2020-02-29 18:00:00,7,PM,INVIERNO,1,...,1012.0,67.0,0.0,0.0,Clouds,few clouds,1,2,2,0
0,198,2020,2,29,19,2020-02-29 19:00:00,7,PM,INVIERNO,1,...,1013.0,60.0,0.0,0.0,Clouds,few clouds,1,2,2,0
0,198,2020,2,29,20,2020-02-29 20:00:00,7,PM,INVIERNO,1,...,1014.0,61.0,0.0,0.0,Clouds,few clouds,1,2,2,0
0,198,2020,2,29,21,2020-02-29 21:00:00,7,PM,INVIERNO,1,...,1014.0,67.0,0.0,0.0,Clouds,few clouds,1,2,2,0
0,198,2020,2,29,22,2020-02-29 22:00:00,7,PM,INVIERNO,1,...,1015.0,69.0,0.0,0.0,Clouds,few clouds,1,2,2,0

In [22]:
df_final.groupby('CLUSTER_soloGeo').count()

,ESTACION,ANIO,MES,DIA,HORA,FECHA,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,...,VIENTO,PRESION,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,DESC_TIEMPO,DESC_TIEMPO_detalle,CLUSTER_FullCols,CLUSTER_soloDemanda,DEMANDA
CLUSTER_soloGeo,,,,,,,,,,,,,,,,,,,,,
0,568800,568800,568800,568800,568800,568800,568800,568800,568800,568800,...,568800,568800,568800,568800,568800,568800,568800,568800,568800,568800
1,853200,853200,853200,853200,853200,853200,853200,853200,853200,853200,...,853200,853200,853200,853200,853200,853200,853200,853200,853200,853200
2,644640,644640,644640,644640,644640,644640,644640,644640,644640,644640,...,644640,644640,644640,644640,644640,644640,644640,644640,644640,644640
3,417120,417120,417120,417120,417120,417120,417120,417120,417120,417120,...,417120,417120,417120,417120,417120,417120,417120,417120,417120,417120
4,910080,910080,910080,910080,910080,910080,910080,910080,910080,910080,...,910080,910080,910080,910080,910080,910080,910080,910080,910080,910080

### Validaci√≥n de resultados en base a suma de DEMANDA

In [23]:
pd.set_option('display.max_rows', None)

In [24]:
# DF Original
df_tracks.groupby('ESTACION').agg(DEMANDA=('DEMANDA', 'sum'), CUENTA=('DEMANDA', 'count'))
#df_tracks.groupby('ESTACION').agg(DEMANDA=('DEMANDA', 'sum'), CUENTA=('DEMANDA', 'count')).to_clipboard()

          DEMANDA  CUENTA
ESTACION
1           63706   13912
2           28020    9586
3           52275   14462
4           35135   11690
5           32312   12880
6           66034   15410
7           39552   13381
8           45164   14370
9           75799   14605
10          40392   13291
11          28719   10541
12          39395   13635
13          66768   15621
14          44072   13223
15          26257   11331
16          32292   10910
17          47826   14194
18          41596   13927
19          76820   15657
20          38582   12584
21          43841   12635
25          38660   12972
26          58929   15361
27          37526   13444
28           8824    5697
29          13224    7792
30          55200   13602
31          61722   14918
32          13027    5604
33          42317   12137
34          29206   11572
35          26823   11367
36          25772   11578
37          14358    6048
38          68450   15953
39          27724   11310
40          28343   11596
41          61106   14533
42          51963   13815
43          92060   15691
44          41342   13996
45          56378   12534
46          63081   15222
47          38422   13588
48          46167   13740
49          73510   15164
50          38874   12658
51          38280   13518
52          59205   14920
53          54853   13862
54          42444   13887
55          52600   14620
56          64287   15982
57         101946   16600
58          80440   15511
59          68511   15864
60          29964   12149
61          19811    8988
62          58296   14416
63          37842   13659
64          75715   13859
65          49953   13314
66          38267   12012
67          42222   12474
69          34069   10311
71          47921   13900
72          28743   10143
73          43310   11362
74          58611   14374
75          47797   13189
76          46823   13054
77          42521   12782
78          53546   12328
79          57887   13501
80          36771   12404
81          38243   12153
82          42224   13008
83          75680   14787
84          61425   14093
85          24984   10761
86          47289   13675
87          29319   11082
88          16348    7493
89          32735   11640
90          91830   15508
91          50504   13860
92          32497   10730
93          32199   10940
94          34187   12086
95          51090   13372
96          41710   12783
97          23896    9706
98          23577    9498
99          42271   12630
100         25522    9421
101         28218   11044
102         35532   12649
103         48156   13436
104         23842   10157
105         23890   10146
106         41259   12805
107         24258    9776
108         59614   13356
109         26646    9661
110         39191   11779
111         21342    8828
112         25957    9914
113         46247   12509
114         54106   13953
115         43404   12064
116         34227   11785
117         25478   11125
118         49036   14319
119         13451    7426
120         17568    8814
121         34495   11811
122         29610   11910
123         38117   13286
124         33287   12580
125         33302   12348
126         37006   11602
127         28075   10614
128         64254   14684
129         82420   15308
130         44731   12912
131         53842   14440
132         58467   13958
133         54124   14118
134         41745   12950
135         80399   14436
136         52832   13737
137         29297   10817
138         20887    9623
139         50756   14097
140         29378   10831
141         26113   10520
142         39626   12846
143         29363   10545
144         14937    7700
145         46880   13386
146         20039    9651
147         21119    8396
148         30649   11013
149         90217   15622
150         18428    8924
151         20119    8331
152         21584    9086
153         38741   12130
154         40136   12623
155         49576   12727
156         45883   12795
157         63186   14041
158         28309   10376
159         25073    9360
160         78061   14618
161         67263   15079
162         65183   13226
163        106389   15885
164         63994   14122
165         27073   10442
166         58370   14160
167         38790   11643
168         78882   15210
169         67095   15036
170         65247   14598
171         42943   12631
172         42353   12806
173         14404    7926
174         23628   10224
175        102974   15923
178         10224    3554
179          9468    3576
191          3871    2105
192          6904    2887
193          4886    2178
195          6734    3083
198          7137    2822
199          6078    2429
215          4857    2459

In [25]:
# DF Corregido
df_final.groupby('ESTACION').agg(DEMANDA=('DEMANDA', 'sum'), CUENTA=('DEMANDA', 'count'))
#df_final.groupby('ESTACION').agg(DEMANDA=('DEMANDA', 'sum'), CUENTA=('DEMANDA', 'count')).to_clipboard()

          DEMANDA  CUENTA
ESTACION
1           63706   18960
2           28020   18960
3           52275   18960
4           35135   18960
5           32312   18960
6           66034   18960
7           39552   18960
8           45164   18960
9           75799   18960
10          40392   18960
11          28719   18960
12          39395   18960
13          66768   18960
14          44072   18960
15          26257   18960
16          32292   18960
17          47826   18960
18          41596   18960
19          76820   18960
20          38582   18960
21          43841   18960
25          38660   18960
26          58929   18960
27          37526   18960
28           8824   18960
29          13224   18960
30          55200   18960
31          61722   18960
32          13027   18960
33          42317   18960
34          29206   18960
35          26823   18960
36          25772   18960
37          14358   18960
38          68450   18960
39          27724   18960
40          28343   18960
41          61106   18960
42          51963   18960
43          92060   18960
44          41342   18960
45          56378   18960
46          63081   18960
47          38422   18960
48          46167   18960
49          73510   18960
50          38874   18960
51          38280   18960
52          59205   18960
53          54853   18960
54          42444   18960
55          52600   18960
56          64287   18960
57         101946   18960
58          80440   18960
59          68511   18960
60          29964   18960
61          19811   18960
62          58296   18960
63          37842   18960
64          75715   18960
65          49953   18960
66          38267   18960
67          42222   18960
69          34069   18960
71          47921   18960
72          28743   18960
73          43310   18960
74          58611   18960
75          47797   18960
76          46823   18960
77          42521   18960
78          53546   18960
79          57887   18960
80          36771   18960
81          38243   18960
82          42224   18960
83          75680   18960
84          61425   18960
85          24984   18960
86          47289   18960
87          29319   18960
88          16348   18960
89          32735   18960
90          91830   18960
91          50504   18960
92          32497   18960
93          32199   18960
94          34187   18960
95          51090   18960
96          41710   18960
97          23896   18960
98          23577   18960
99          42271   18960
100         25522   18960
101         28218   18960
102         35532   18960
103         48156   18960
104         23842   18960
105         23890   18960
106         41259   18960
107         24258   18960
108         59614   18960
109         26646   18960
110         39191   18960
111         21342   18960
112         25957   18960
113         46247   18960
114         54106   18960
115         43404   18960
116         34227   18960
117         25478   18960
118         49036   18960
119         13451   18960
120         17568   18960
121         34495   18960
122         29610   18960
123         38117   18960
124         33287   18960
125         33302   18960
126         37006   18960
127         28075   18960
128         64254   18960
129         82420   18960
130         44731   18960
131         53842   18960
132         58467   18960
133         54124   18960
134         41745   18960
135         80399   18960
136         52832   18960
137         29297   18960
138         20887   18960
139         50756   18960
140         29378   18960
141         26113   18960
142         39626   18960
143         29363   18960
144         14937   18960
145         46880   18960
146         20039   18960
147         21119   18960
148         30649   18960
149         90217   18960
150         18428   18960
151         20119   18960
152         21584   18960
153         38741   18960
154         40136   18960
155         49576   18960
156         45883   18960
157         63186   18960
158         28309   18960
159         25073   18960
160         78061   18960
161         67263   18960
162         65183   18960
163        106389   18960
164         63994   18960
165         27073   18960
166         58370   18960
167         38790   18960
168         78882   18960
169         67095   18960
170         65247   18960
171         42943   18960
172         42353   18960
173         14404   18960
174         23628   18960
175        102974   18960
178         10224   18960
179          9468   18960
191          3871   18960
192          6904   18960
193          4886   18960
195          6734   18960
198          7137   18960
199          6078   18960
215          4857   18960

In [26]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3393840 entries, 0 to 2142246
Data columns (total 24 columns):
 #   Column               Dtype
---  ------               -----
 0   ESTACION             object
 1   ANIO                 object
 2   MES                  object
 3   DIA                  object
 4   HORA                 object
 5   FECHA                datetime64[ns]
 6   DIA_SEMANA           object
 7   AM_PM                object
 8   TEMPORADA            object
 9   TEMPORADA_NUM        int64
 10  Es_Festivo           object
 11  Es_FinSemana         object
 12  TEMPERATURA          float64
 13  VIENTO               float64
 14  PRESION              object
 15  HUMEDAD              object
 16  PRECIPITACION_1h     float64
 17  PRECIPITACION_3h     float64
 18  DESC_TIEMPO          object
 19  DESC_TIEMPO_detalle  object
 20  CLUSTER_FullCols     int64
 21  CLUSTER_soloGeo      int64
 22  CLUSTER_soloDemanda  int64
 23  DEMANDA              int64
dtypes: datetime64[ns](1), float64(4), int64(5), object(14)
memory usage: 647.3+ MB

In [27]:
pd.set_option('display.max_rows', 10)

### Export df_final a CSV

In [28]:
df_final.to_csv('../../data/DataFrame_Final_Cierre_Cluster_FullFecha.csv', index=False)
#df_final.to_csv('../../data/test.csv', index=False)

In [ ]:
test=df_final.groupby(by='TEMPORADA').count()
test

In [ ]:
test=df_final.groupby(by='ANIO').count()
test

In [ ]:
df_final.groupby('ANIO').agg(DEMANDA=('DEMANDA', 'sum'))

In [ ]:
DF2 = pd.read_csv('../../data/test.csv', parse_dates=['FECHA'])
DF2.info()