In [1]:
import pandas as pd
import numpy as np
import time
import datetime

%run "../1. Librerias Mongo/MongoDB_Connections.ipynb"
%run "../1. Librerias Mongo/MongoDB_Funciones_Consultas.ipynb"

### Carga de datos de entrada

In [2]:
# MOVIMIENTOS

DF = pd.read_csv('../../data/DataFrame_Final_Cierre.csv', parse_dates=['FECHA'])

df_tracks=DF.copy()
df_tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2082289 entries, 0 to 2082288
Data columns (total 20 columns):
 #   Column               Dtype
---  ------               -----
 0   ESTACION             int64
 1   ANIO                 int64
 2   MES                  int64
 3   DIA                  int64
 4   HORA                 int64
 5   FECHA                datetime64[ns]
 6   DIA_SEMANA           int64
 7   AM_PM                object
 8   TEMPORADA            object
 9   Es_Festivo           int64
 10  Es_FinSemana         int64
 11  TEMPERATURA          float64
 12  VIENTO               float64
 13  PRESION              int64
 14  HUMEDAD              int64
 15  PRECIPITACION_1h     float64
 16  PRECIPITACION_3h     float64
 17  DESC_TIEMPO          object
 18  DESC_TIEMPO_detalle  object
 19  DEMANDA              int64
dtypes: datetime64[ns](1), float64(4), int64(11), object(4)
memory usage: 317.7+ MB

In [3]:
# ESTACIONES: Lista de estaciones en DF

df_estaciones = df_tracks.ESTACION.unique()
df_estaciones

array([  6,   8,   9,  12,  15,  17,  19,  20,  21,  25,  26,  31,  36,
        39,  40,  41,  43,  44,  45,  47,  48,  49,  50,  52,  53,  54,
        55,  56,  57,  58,  59,  63,  65,  66,  67,  69,  72,  73,  74,
        75,  76,  77,  78,  79,  80,  81,  82,  85,  87,  90,  92,  93,
        95,  96,  98, 101, 102, 103, 104, 105, 106, 107, 110, 113, 114,
       122, 123, 124, 125, 126, 128, 129, 130, 131, 132, 133, 134, 135,
       136, 139, 145, 148, 149, 150, 152, 153, 154, 155, 156, 157, 158,
       160, 161, 162, 163, 164, 166, 167, 168, 170, 172, 175,   7,  11,
        13,  14,  16,  18,  27,  34,  51,  64,  71,  83,  91,  94, 118,
       140, 141, 142, 143, 147,   5,  42,  46,  62,  86, 117, 121, 137,
       165,   4, 111, 116, 146, 151,  30,  89, 108, 112, 159, 169,   3,
        60,  88,  97, 109, 115, 120, 138, 171,  33,  84,  99, 127, 144,
       173, 174,   1, 100,  10,  35,  38,   2,  32,  37, 119,  61,  29,
        28, 179, 191, 178, 195, 199, 215, 192, 193, 198], dtype=int64)

In [4]:
# Meteorologia

db_Meteo = _connect_mongo('cloud', 'cluster0.15npsxw.mongodb.net', None, 'ucmtfm2022', 'UCM_2022', 'BiciMAD', 'Meteo_US_NivelHora')

t_ini = time.time()
#data_Meteo = _consulta_meteoUS_por_anio(db_Meteo, 2020)
data_Meteo = _consulta_meteoUS_full(db_Meteo)
t_end = time.time()

print (t_end - t_ini)

# Se agrega campo FECHA para join
data_Meteo['FECHA'] =pd.to_datetime({'year': data_Meteo['ANIO'],
                                          'month': data_Meteo["MES"]
                                          ,'day':  data_Meteo['DIA']
                                          ,'hour':data_Meteo['HORA']},
                                          format='%d-%m-%Y', errors='coerce')

data_Meteo.info()

Conexion OK
Collection(Database(MongoClient(host=['ac-x1d17w2-shard-00-00.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-01.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-02.15npsxw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-xyv6ql-shard-0', tls=True, serverselectiontimeoutms=4000, tlscafile='C:\\ProgramData\\Anaconda3\\lib\\site-packages\\certifi\\cacert.pem'), 'BiciMAD'), 'Meteo_US_NivelHora')
1.424354076385498
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26304 entries, 0 to 26303
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ANIO                 26304 non-null  int64
 1   MES                  26304 non-null  int64
 2   DIA                  26304 non-null  int64
 3   HORA                 26304 non-null  int64
 4   TEMPERATURA          26304 non-null  object
 5   TEMP_SENS_TERMC      26304 non-null  object
 6   VIENTO               26304 non-null  object
 7   PRESION              26304 non-null  object
 8   HUMEDAD              26304 non-null  object
 9   PRECIPITACION_1h     26304 non-null  object
 10  PRECIPITACION_3h     26304 non-null  object
 11  NIEVE_1h             26304 non-null  object
 12  NIEVE_3h             26304 non-null  int64
 13  ID_TIPO_TIEMPO       26304 non-null  object
 14  DESC_TIEMPO          26304 non-null  object
 15  DESC_TIEMPO_detalle  26304 non-null  object
 16  FECHA                26304 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(11)
memory usage: 3.4+ MB

### Creación de DF de fechas

In [5]:
# FECHAS DE FESTIVOS

df_festivos_in = pd.read_csv('../../data/Festivos_Madrid.csv', sep=';')
# Se agrega campo FECHA para join
df_festivos_in['FECHA'] =pd.to_datetime({'year': df_festivos_in['ANIO'],
                                          'month': df_festivos_in["MES"]
                                          ,'day':  df_festivos_in['DIA']},
                                          format='%d-%m-%Y', errors='coerce')
df_festivos_in.info()
df_festivos = df_festivos_in[df_festivos_in['FESTIVO']==1]

df_festivos.info()
df_festivos[df_festivos['ANIO']==2018].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ANIO     1461 non-null   int64
 1   MES      1461 non-null   int64
 2   DIA      1461 non-null   int64
 3   FESTIVO  1461 non-null   int64
 4   FECHA    1461 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(4)
memory usage: 57.2 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 0 to 1454
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ANIO     57 non-null     int64
 1   MES      57 non-null     int64
 2   DIA      57 non-null     int64
 3   FESTIVO  57 non-null     int64
 4   FECHA    57 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(4)
memory usage: 2.7 KB

     ANIO  MES  DIA  FESTIVO      FECHA
365  2018    1    1        1 2018-01-01
370  2018    1    6        1 2018-01-06
452  2018    3   29        1 2018-03-29
453  2018    3   30        1 2018-03-30
485  2018    5    1        1 2018-05-01

### Creación de rango total de fechas

In [6]:
# Creación de rangos de fecha válidos
# sdate = datetime.strptime('01/01/2018 00', '%d/%m/%Y %H')
# edate = datetime.strptime('31/01/2018 23', '%d/%m/%Y %H')

sdate = np.datetime64('2018-01-01T00:00:00')
edate = np.datetime64('2020-02-29T23:00:00')

df_dates=pd.date_range(start=sdate, end=edate, freq='H')

print(df_dates.shape)
df_dates

(18960,)

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2020-02-29 14:00:00', '2020-02-29 15:00:00',
               '2020-02-29 16:00:00', '2020-02-29 17:00:00',
               '2020-02-29 18:00:00', '2020-02-29 19:00:00',
               '2020-02-29 20:00:00', '2020-02-29 21:00:00',
               '2020-02-29 22:00:00', '2020-02-29 23:00:00'],
              dtype='datetime64[ns]', length=18960, freq='H')

### EJECUCION DE PROCESO

In [ ]:
#df_estaciones = [175,45,15]
#df_estaciones

In [7]:
i=0
df_final = pd.DataFrame(columns = ['ESTACION','ANIO','MES','DIA','HORA','FECHA','DIA_SEMANA','AM_PM','TEMPORADA',
                                   'Es_Festivo','Es_FinSemana','TEMPERATURA','VIENTO','PRESION','HUMEDAD',
                                   'PRECIPITACION_1h','PRECIPITACION_3h','DESC_TIEMPO','DESC_TIEMPO_detalle','DEMANDA'])

t_ini = time.time()

for estacion in df_estaciones:
    print('Estacion: '+str(estacion))
    
    df_data = df_tracks[df_tracks['ESTACION']==estacion]
    
    df_final_estacion = pd.DataFrame(columns = ['ESTACION','ANIO','MES','DIA','HORA','FECHA','DIA_SEMANA','AM_PM','TEMPORADA',
                                   'Es_Festivo','Es_FinSemana','TEMPERATURA','VIENTO','PRESION','HUMEDAD',
                                   'PRECIPITACION_1h','PRECIPITACION_3h','DESC_TIEMPO','DESC_TIEMPO_detalle','DEMANDA'])    
    
    t_ini_estacion = time.time()
    for fecha in df_dates:
        
        # Variable dia semana
        if fecha.isoweekday()==7:
            dia_semana=1
        else:
            dia_semana=fecha.isoweekday()+1
            
        # Variable Es_Festivo
        fec_festivo = np.datetime64(fecha.date())        
        if fec_festivo in df_festivos['FECHA'].values:
            es_festivo = 1
        else:
            es_festivo = 0
                        
        # Variable Es_FinSemana
        if ((dia_semana==1) or (dia_semana==7)):
            es_finsemana = 1
        else:
            es_finsemana = 0
        
        # Variable AM_PM
        if fecha.hour<=12:
            ampm='AM'
        else:
            ampm='PM'
            
        # Variable TEMPORADA
        if fecha.month<=3:
            temporada='INVIERNO'
        elif fecha.month<=6:
            temporada='PRIMAVERA'
        elif fecha.month<=9:
            temporada='VERANO'
        else:
            temporada='OTOÑO'
                
                
        if fecha not in df_data[df_data['ESTACION']==estacion]['FECHA'].values:
            i=i+1
            meteo = data_Meteo[data_Meteo['FECHA']==fecha]
            new_row_dict = {
                'ESTACION': estacion,
                'ANIO': fecha.year,
                'MES': fecha.month,
                'DIA': fecha.day,
                'HORA': fecha.hour,
                'FECHA': fecha,
                'DIA_SEMANA': dia_semana,
                'AM_PM': ampm,
                'TEMPORADA': temporada,
                'Es_Festivo': es_festivo,
                'Es_FinSemana': es_finsemana,
                'TEMPERATURA': float(meteo.TEMPERATURA.iloc[0]),
                'VIENTO': float(meteo.VIENTO.iloc[0]),
                'PRESION': float(meteo.PRESION.iloc[0]),
                'HUMEDAD': float(meteo.HUMEDAD.iloc[0]),
                'PRECIPITACION_1h': float(meteo.PRECIPITACION_1h.iloc[0]),
                'PRECIPITACION_3h': float(meteo.PRECIPITACION_3h.iloc[0]),
                'DESC_TIEMPO': meteo.DESC_TIEMPO.iloc[0],
                'DESC_TIEMPO_detalle': meteo.DESC_TIEMPO_detalle.iloc[0],
                'DEMANDA': 0
            }
            
            new_row = pd.DataFrame(new_row_dict, index=[0])
            
            #print(meteo.TEMPERATURA.iloc[0])
            df_final_estacion = pd.concat([df_final_estacion, new_row])
        else:
            #print(df_data[(df_data['ESTACION']==estacion) & (df_data['FECHA']==fecha)])
            old_row = df_data[(df_data['ESTACION']==estacion) & (df_data['FECHA']==fecha)]
            df_final_estacion = pd.concat([df_final_estacion, old_row])
            
            
    df_final = pd.concat([df_final, df_final_estacion])
    
    t_end_estacion = time.time()
    print('Fechas vacías:' + str(i))
    print('Tiempo: '+str(t_end_estacion-t_ini_estacion))
    i=0
    

t_end = time.time()
print (t_end - t_ini)

Estacion: 6
Fechas vacías:3970
Tiempo: 46.515997648239136
Estacion: 8
Fechas vacías:4992
Tiempo: 46.088478803634644
Estacion: 9
Fechas vacías:4752
Tiempo: 45.745094776153564
Estacion: 12
Fechas vacías:5697
Tiempo: 45.12749171257019
Estacion: 15
Fechas vacías:7969
Tiempo: 42.315261363983154
Estacion: 17
Fechas vacías:5148
Tiempo: 45.26795721054077
Estacion: 19
Fechas vacías:3740
Tiempo: 45.75401449203491
Estacion: 20
Fechas vacías:6726
Tiempo: 45.39063119888306
Estacion: 21
Fechas vacías:6687
Tiempo: 45.22220468521118
Estacion: 25
Fechas vacías:6345
Tiempo: 46.16449189186096
Estacion: 26
Fechas vacías:4013
Tiempo: 45.62113308906555
Estacion: 31
Fechas vacías:4463
Tiempo: 45.2908456325531
Estacion: 36
Fechas vacías:7719
Tiempo: 42.04516887664795
Estacion: 39
Fechas vacías:7973
Tiempo: 42.013205766677856
Estacion: 40
Fechas vacías:7688
Tiempo: 41.96491885185242
Estacion: 41
Fechas vacías:4824
Tiempo: 51.00578212738037
Estacion: 43
Fechas vacías:3715
Tiempo: 57.091110706329346
Estacion: 44
Fechas vacías:5345
Tiempo: 54.11956286430359
Estacion: 45
Fechas vacías:6864
Tiempo: 46.96212124824524
Estacion: 47
Fechas vacías:5762
Tiempo: 49.271586894989014
Estacion: 48
Fechas vacías:5633
Tiempo: 45.67143988609314
Estacion: 49
Fechas vacías:4190
Tiempo: 45.653172969818115
Estacion: 50
Fechas vacías:6650
Tiempo: 45.70422387123108
Estacion: 52
Fechas vacías:4452
Tiempo: 45.71760416030884
Estacion: 53
Fechas vacías:5498
Tiempo: 45.34520483016968
Estacion: 54
Fechas vacías:5444
Tiempo: 45.57794737815857
Estacion: 55
Fechas vacías:4741
Tiempo: 45.64943766593933
Estacion: 56
Fechas vacías:3409
Tiempo: 45.90715479850769
Estacion: 57
Fechas vacías:2819
Tiempo: 45.72455883026123
Estacion: 58
Fechas vacías:3873
Tiempo: 45.47674560546875
Estacion: 59
Fechas vacías:3537
Tiempo: 45.742273569107056
Estacion: 63
Fechas vacías:5694
Tiempo: 45.05477833747864
Estacion: 65
Fechas vacías:6000
Tiempo: 45.42923140525818
Estacion: 66
Fechas vacías:7284
Tiempo: 42.23092555999756
Estacion: 67
Fechas vacías:6839
Tiempo: 46.54520392417908
Estacion: 69
Fechas vacías:8950
Tiempo: 46.954017877578735
Estacion: 72
Fechas vacías:9110
Tiempo: 46.54797625541687
Estacion: 73
Fechas vacías:7935
Tiempo: 42.333744525909424
Estacion: 74
Fechas vacías:4992
Tiempo: 49.0051155090332
Estacion: 75
Fechas vacías:6137
Tiempo: 56.028528451919556
Estacion: 76
Fechas vacías:6259
Tiempo: 46.66513013839722
Estacion: 77
Fechas vacías:6517
Tiempo: 46.256892681121826
Estacion: 78
Fechas vacías:6980
Tiempo: 46.42821455001831
Estacion: 79
Fechas vacías:5830
Tiempo: 47.42840814590454
Estacion: 80
Fechas vacías:6891
Tiempo: 49.902135372161865
Estacion: 81
Fechas vacías:7145
Tiempo: 42.63029861450195
Estacion: 82
Fechas vacías:6327
Tiempo: 45.11247897148132
Estacion: 85
Fechas vacías:8499
Tiempo: 42.51237988471985
Estacion: 87
Fechas vacías:8189
Tiempo: 41.92973303794861
Estacion: 90
Fechas vacías:3871
Tiempo: 45.42159962654114
Estacion: 92
Fechas vacías:8532
Tiempo: 42.6436448097229
Estacion: 93
Fechas vacías:8339
Tiempo: 42.35751986503601
Estacion: 95
Fechas vacías:5977
Tiempo: 44.97803044319153
Estacion: 96
Fechas vacías:6542
Tiempo: 44.97697043418884
Estacion: 98
Fechas vacías:9732
Tiempo: 42.39226198196411
Estacion: 101
Fechas vacías:8199
Tiempo: 42.028170585632324
Estacion: 102
Fechas vacías:6672
Tiempo: 45.09408497810364
Estacion: 103
Fechas vacías:5904
Tiempo: 45.11737513542175
Estacion: 104
Fechas vacías:9080
Tiempo: 42.18281149864197
Estacion: 105
Fechas vacías:9077
Tiempo: 42.39452624320984
Estacion: 106
Fechas vacías:6530
Tiempo: 44.687541484832764
Estacion: 107
Fechas vacías:9471
Tiempo: 42.152302503585815
Estacion: 110
Fechas vacías:7536
Tiempo: 42.16590619087219
Estacion: 113
Fechas vacías:6818
Tiempo: 44.996291399002075
Estacion: 114
Fechas vacías:5417
Tiempo: 45.12350940704346
Estacion: 122
Fechas vacías:7417
Tiempo: 41.88426756858826
Estacion: 123
Fechas vacías:6032
Tiempo: 45.292418003082275
Estacion: 124
Fechas vacías:6739
Tiempo: 45.477579832077026
Estacion: 125
Fechas vacías:6956
Tiempo: 45.029484272003174
Estacion: 126
Fechas vacías:7672
Tiempo: 42.27095150947571
Estacion: 128
Fechas vacías:4690
Tiempo: 45.13962531089783
Estacion: 129
Fechas vacías:4079
Tiempo: 45.149802923202515
Estacion: 130
Fechas vacías:6384
Tiempo: 45.2167534828186
Estacion: 131
Fechas vacías:4924
Tiempo: 45.32501482963562
Estacion: 132
Fechas vacías:5402
Tiempo: 45.13156771659851
Estacion: 133
Fechas vacías:5251
Tiempo: 45.33992576599121
Estacion: 134
Fechas vacías:6375
Tiempo: 45.47556209564209
Estacion: 135
Fechas vacías:4944
Tiempo: 45.36509823799133
Estacion: 136
Fechas vacías:5612
Tiempo: 45.36614632606506
Estacion: 139
Fechas vacías:5267
Tiempo: 45.42860293388367
Estacion: 145
Fechas vacías:5968
Tiempo: 45.938300132751465
Estacion: 148
Fechas vacías:8265
Tiempo: 42.21853160858154
Estacion: 149
Fechas vacías:3782
Tiempo: 45.060478925704956
Estacion: 150
Fechas vacías:10279
Tiempo: 42.487703800201416
Estacion: 152
Fechas vacías:10157
Tiempo: 42.01998162269592
Estacion: 153
Fechas vacías:7161
Tiempo: 41.679649114608765
Estacion: 154
Fechas vacías:6704
Tiempo: 44.76107740402222
Estacion: 155
Fechas vacías:6600
Tiempo: 45.129836320877075
Estacion: 156
Fechas vacías:6523
Tiempo: 45.31353998184204
Estacion: 157
Fechas vacías:5289
Tiempo: 45.790284872055054
Estacion: 158
Fechas vacías:8889
Tiempo: 41.820573806762695
Estacion: 160
Fechas vacías:4739
Tiempo: 45.271629095077515
Estacion: 161
Fechas vacías:4291
Tiempo: 45.40791463851929
Estacion: 162
Fechas vacías:6116
Tiempo: 45.14008188247681
Estacion: 163
Fechas vacías:3507
Tiempo: 45.553056716918945
Estacion: 164
Fechas vacías:5233
Tiempo: 45.06573009490967
Estacion: 166
Fechas vacías:5202
Tiempo: 45.20749831199646
Estacion: 167
Fechas vacías:7660
Tiempo: 41.960344552993774
Estacion: 168
Fechas vacías:4169
Tiempo: 45.19157934188843
Estacion: 170
Fechas vacías:4778
Tiempo: 45.36328148841858
Estacion: 172
Fechas vacías:6534
Tiempo: 45.14262270927429
Estacion: 175
Fechas vacías:3486
Tiempo: 45.419106245040894
Estacion: 7
Fechas vacías:5961
Tiempo: 42.731377363204956
Estacion: 11
Fechas vacías:8713
Tiempo: 39.07017278671265
Estacion: 13
Fechas vacías:3760
Tiempo: 43.041794538497925
Estacion: 14
Fechas vacías:6103
Tiempo: 42.506364583969116
Estacion: 16
Fechas vacías:8443
Tiempo: 38.483407735824585
Estacion: 18
Fechas vacías:5428
Tiempo: 42.60928702354431
Estacion: 27
Fechas vacías:5873
Tiempo: 43.042651891708374
Estacion: 34
Fechas vacías:7735
Tiempo: 38.78229784965515
Estacion: 51
Fechas vacías:5809
Tiempo: 42.922731161117554
Estacion: 64
Fechas vacías:5513
Tiempo: 42.81523823738098
Estacion: 71
Fechas vacías:5453
Tiempo: 42.778076171875
Estacion: 83
Fechas vacías:4547
Tiempo: 42.82642984390259
Estacion: 91
Fechas vacías:5500
Tiempo: 42.842668771743774
Estacion: 94
Fechas vacías:7227
Tiempo: 38.93231821060181
Estacion: 118
Fechas vacías:5041
Tiempo: 42.70207643508911
Estacion: 140
Fechas vacías:8456
Tiempo: 39.1586480140686
Estacion: 141
Fechas vacías:8734
Tiempo: 39.147024631500244
Estacion: 142
Fechas vacías:6476
Tiempo: 42.60664129257202
Estacion: 143
Fechas vacías:8715
Tiempo: 39.43356275558472
Estacion: 147
Fechas vacías:10816
Tiempo: 38.9552366733551
Estacion: 5
Fechas vacías:6443
Tiempo: 42.67479968070984
Estacion: 42
Fechas vacías:5526
Tiempo: 42.89186763763428
Estacion: 46
Fechas vacías:4128
Tiempo: 43.868316411972046
Estacion: 62
Fechas vacías:4953
Tiempo: 43.31517696380615
Estacion: 86
Fechas vacías:5674
Tiempo: 42.64678597450256
Estacion: 117
Fechas vacías:8156
Tiempo: 39.35846519470215
Estacion: 121
Fechas vacías:7478
Tiempo: 39.209064245224
Estacion: 137
Fechas vacías:8473
Tiempo: 39.015353202819824
Estacion: 165
Fechas vacías:8830
Tiempo: 39.132758140563965
Estacion: 4
Fechas vacías:7500
Tiempo: 39.07201409339905
Estacion: 111
Fechas vacías:10422
Tiempo: 39.15964102745056
Estacion: 116
Fechas vacías:7525
Tiempo: 39.10276174545288
Estacion: 146
Fechas vacías:9580
Tiempo: 39.32464623451233
Estacion: 151
Fechas vacías:10873
Tiempo: 39.646145820617676
Estacion: 30
Fechas vacías:5693
Tiempo: 42.9539213180542
Estacion: 89
Fechas vacías:7645
Tiempo: 39.87046432495117
Estacion: 108
Fechas vacías:5993
Tiempo: 43.146801471710205
Estacion: 112
Fechas vacías:9356
Tiempo: 39.47729778289795
Estacion: 159

Fechas vacías:9884
Tiempo: 39.31080651283264
Estacion: 169
Fechas vacías:4343
Tiempo: 42.96357846260071
Estacion: 3
Fechas vacías:4887
Tiempo: 43.49853038787842
Estacion: 60
Fechas vacías:7195
Tiempo: 40.00242042541504
Estacion: 88
Fechas vacías:11666
Tiempo: 39.704761266708374
Estacion: 97
Fechas vacías:9542
Tiempo: 39.600208044052124
Estacion: 109
Fechas vacías:9576
Tiempo: 39.602285861968994
Estacion: 115
Fechas vacías:7231
Tiempo: 39.58305096626282
Estacion: 120
Fechas vacías:10404
Tiempo: 39.68964219093323
Estacion: 138
Fechas vacías:9641
Tiempo: 39.906845569610596
Estacion: 171
Fechas vacías:6684
Tiempo: 42.996474742889404
Estacion: 33
Fechas vacías:7165
Tiempo: 39.422194957733154
Estacion: 84
Fechas vacías:5256
Tiempo: 43.13354849815369
Estacion: 99
Fechas vacías:6710
Tiempo: 42.93914437294006
Estacion: 127
Fechas vacías:8639
Tiempo: 39.56874203681946
Estacion: 144
Fechas vacías:11484
Tiempo: 39.54204273223877
Estacion: 173
Fechas vacías:11253
Tiempo: 39.5763099193573
Estacion: 174
Fechas vacías:9023
Tiempo: 40.05088233947754
Estacion: 1
Fechas vacías:5496
Tiempo: 43.0418975353241
Estacion: 100
Fechas vacías:9819
Tiempo: 38.93939137458801
Estacion: 10
Fechas vacías:6044
Tiempo: 42.485660552978516
Estacion: 35
Fechas vacías:7951
Tiempo: 39.082557916641235
Estacion: 38
Fechas vacías:3442
Tiempo: 43.068360328674316
Estacion: 2
Fechas vacías:9735
Tiempo: 38.54045081138611
Estacion: 32
Fechas vacías:13630
Tiempo: 38.149498462677
Estacion: 37
Fechas vacías:12912
Tiempo: 38.34954619407654
Estacion: 119
Fechas vacías:11742
Tiempo: 39.0464026927948
Estacion: 61
Fechas vacías:10209
Tiempo: 39.4784152507782
Estacion: 29
Fechas vacías:11438
Tiempo: 39.41794395446777
Estacion: 28
Fechas vacías:13463
Tiempo: 38.91365170478821
Estacion: 179
Fechas vacías:15384
Tiempo: 37.556811571121216
Estacion: 191
Fechas vacías:16855
Tiempo: 37.32438325881958
Estacion: 178
Fechas vacías:15406
Tiempo: 37.62682318687439
Estacion: 195
Fechas vacías:15877
Tiempo: 37.46374225616455
Estacion: 199
Fechas vacías:16531
Tiempo: 37.25272583961487
Estacion: 215
Fechas vacías:16501
Tiempo: 37.24250626564026
Estacion: 192
Fechas vacías:16073
Tiempo: 37.363993644714355
Estacion: 193
Fechas vacías:16782
Tiempo: 37.28138065338135
Estacion: 198
Fechas vacías:16138
Tiempo: 37.18071889877319
7715.2779750823975

In [8]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3393840 entries, 0 to 2082287
Data columns (total 20 columns):
 #   Column               Dtype
---  ------               -----
 0   ESTACION             object
 1   ANIO                 object
 2   MES                  object
 3   DIA                  object
 4   HORA                 object
 5   FECHA                datetime64[ns]
 6   DIA_SEMANA           object
 7   AM_PM                object
 8   TEMPORADA            object
 9   Es_Festivo           object
 10  Es_FinSemana         object
 11  TEMPERATURA          float64
 12  VIENTO               float64
 13  PRESION              object
 14  HUMEDAD              object
 15  PRECIPITACION_1h     float64
 16  PRECIPITACION_3h     float64
 17  DESC_TIEMPO          object
 18  DESC_TIEMPO_detalle  object
 19  DEMANDA              object
dtypes: datetime64[ns](1), float64(4), object(15)
memory usage: 543.8+ MB

In [9]:
df_final

,ESTACION,ANIO,MES,DIA,HORA,FECHA,DIA_SEMANA,AM_PM,TEMPORADA,Es_Festivo,Es_FinSemana,TEMPERATURA,VIENTO,PRESION,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,DESC_TIEMPO,DESC_TIEMPO_detalle,DEMANDA
0,6,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,0,6.63,5.70,1031,56,0.0,0.0,Clear,sky is clear,2
0,6,2018,1,1,1,2018-01-01 01:00:00,2,AM,INVIERNO,1,0,6.47,5.70,1031.0,55.0,0.0,0.0,Clear,sky is clear,0
184,6,2018,1,1,2,2018-01-01 02:00:00,2,AM,INVIERNO,1,0,5.58,4.90,1031,60,0.0,0.0,Clear,sky is clear,2
0,6,2018,1,1,3,2018-01-01 03:00:00,2,AM,INVIERNO,1,0,6.58,7.20,1030.0,59.0,0.0,0.0,Clear,sky is clear,0
305,6,2018,1,1,4,2018-01-01 04:00:00,2,AM,INVIERNO,1,0,5.14,4.63,1032,57,0.0,0.0,Clear,sky is clear,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,198,2020,2,29,19,2020-02-29 19:00:00,7,PM,INVIERNO,0,1,12.17,8.80,1013.0,60.0,0.0,0.0,Clouds,few clouds,0
0,198,2020,2,29,20,2020-02-29 20:00:00,7,PM,INVIERNO,0,1,11.49,8.80,1014.0,61.0,0.0,0.0,Clouds,few clouds,0
0,198,2020,2,29,21,2020-02-29 21:00:00,7,PM,INVIERNO,0,1,11.11,7.20,1014.0,67.0,0.0,0.0,Clouds,few clouds,0
0,198,2020,2,29,22,2020-02-29 22:00:00,7,PM,INVIERNO,0,1,10.31,6.20,1015.0,69.0,0.0,0.0,Clouds,few clouds,0
2082287,198,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,0,1,9.60,6.20,1015.0,69.0,0.0,0.0,Clouds,few clouds,3

### Validación de resultados en base a suma de DEMANDA

In [24]:
pd.set_option('display.max_rows', None)

In [25]:
# DF Original
df_tracks.groupby('ESTACION').agg(DEMANDA=('DEMANDA', 'sum'), CUENTA=('DEMANDA', 'count'))
#df_tracks.groupby('ESTACION').agg(DEMANDA=('DEMANDA', 'sum'), CUENTA=('DEMANDA', 'count')).to_clipboard()

          DEMANDA  CUENTA
ESTACION
1           61287   13464
2           26868    9225
3           50729   14073
4           34466   11460
5           31397   12517
6           64138   14990
7           38392   12999
8           43817   13968
9           73651   14208
10          39191   12916
11          27879   10247
12          38232   13263
13          64845   15200
14          42656   12857
15          25475   10991
16          31141   10517
17          46488   13812
18          40282   13532
19          74380   15220
20          37534   12234
21          42528   12273
25          37515   12615
26          57290   14947
27          36449   13087
28           8463    5497
29          12735    7522
30          53887   13267
31          59738   14497
32          12482    5330
33          41194   11795
34          28293   11225
35          25969   11009
36          24914   11241
37          14358    6048
38          66436   15518
39          26924   10987
40          27543   11272
41          59548   14136
42          50438   13434
43          88979   15245
44          40268   13615
45          54136   12096
46          61470   14832
47          37245   13198
48          44689   13327
49          71668   14770
50          37801   12310
51          37282   13151
52          57550   14508
53          53414   13462
54          41311   13516
55          51184   14219
56          62533   15551
57          98631   16141
58          78035   15087
59          66340   15423
60          28888   11765
61          19350    8751
62          56649   14007
63          36679   13266
64          73276   13447
65          48658   12960
66          37223   11676
67          40881   12121
69          33050   10010
71          46569   13507
72          27862    9850
73          41858   11025
74          56760   13968
75          46434   12823
76          45695   12701
77          41468   12443
78          52315   11980
79          56251   13130
80          35680   12069
81          37183   11815
82          41001   12633
83          73665   14413
84          59765   13704
85          24319   10461
86          46072   13286
87          28446   10771
88          15978    7294
89          31849   11315
90          89217   15089
91          48932   13460
92          31540   10428
93          31168   10621
94          33100   11733
95          49391   12983
96          40410   12418
97          23093    9418
98          22853    9228
99          40953   12250
100         24721    9141
101         27559   10761
102         34472   12288
103         46674   13056
104         23129    9880
105         23254    9883
106         40134   12430
107         23537    9489
108         57559   12967
109         25802    9384
110         37775   11424
111         20615    8538
112         25110    9604
113         44738   12142
114         52255   13543
115         42090   11729
116         33124   11435
117         24738   10804
118         47680   13919
119         13051    7218
120         17040    8556
121         33643   11482
122         28571   11543
123         37047   12928
124         32190   12221
125         32336   12004
126         35990   11288
127         27318   10321
128         62359   14270
129         79940   14881
130         43493   12576
131         52219   14036
132         56738   13558
133         52289   13709
134         40443   12585
135         77785   14016
136         51299   13348
137         28306   10487
138         20180    9319
139         49280   13693
140         28479   10504
141         25374   10226
142         38426   12484
143         28485   10245
144         14536    7476
145         45469   12992
146         19512    9380
147         20495    8144
148         29732   10695
149         87550   15178
150         17919    8681
151         19497    8087
152         20990    8803
153         37697   11799
154         38744   12256
155         48242   12360
156         44528   12437
157         61637   13671
158         27478   10071
159         24358    9076
160         75917   14221
161         65340   14669
162         63318   12844
163        103195   15453
164         62074   13727
165         26098   10130
166         56285   13758
167         37481   11300
168         76433   14791
169         65230   14617
170         63120   14182
171         41669   12276
172         41042   12426
173         13998    7707
174         22954    9937
175        100018   15474
178         10224    3554
179          9468    3576
191          3871    2105
192          6904    2887
193          4886    2178
195          6734    3083
198          7137    2822
199          6078    2429
215          4857    2459

In [26]:
# DF Corregido
df_final.groupby('ESTACION').agg(DEMANDA=('DEMANDA', 'sum'), CUENTA=('DEMANDA', 'count'))
#df_final.groupby('ESTACION').agg(DEMANDA=('DEMANDA', 'sum'), CUENTA=('DEMANDA', 'count')).to_clipboard()

         DEMANDA  CUENTA
ESTACION
1          61287   18960
2          26868   18960
3          50729   18960
4          34466   18960
5          31397   18960
6          64138   18960
7          38392   18960
8          43817   18960
9          73651   18960
10         39191   18960
11         27879   18960
12         38232   18960
13         64845   18960
14         42656   18960
15         25475   18960
16         31141   18960
17         46488   18960
18         40282   18960
19         74380   18960
20         37534   18960
21         42528   18960
25         37515   18960
26         57290   18960
27         36449   18960
28          8463   18960
29         12735   18960
30         53887   18960
31         59738   18960
32         12482   18960
33         41194   18960
34         28293   18960
35         25969   18960
36         24914   18960
37         14358   18960
38         66436   18960
39         26924   18960
40         27543   18960
41         59548   18960
42         50438   18960
43         88979   18960
44         40268   18960
45         54136   18960
46         61470   18960
47         37245   18960
48         44689   18960
49         71668   18960
50         37801   18960
51         37282   18960
52         57550   18960
53         53414   18960
54         41311   18960
55         51184   18960
56         62533   18960
57         98631   18960
58         78035   18960
59         66340   18960
60         28888   18960
61         19350   18960
62         56649   18960
63         36679   18960
64         73276   18960
65         48658   18960
66         37223   18960
67         40881   18960
69         33050   18960
71         46569   18960
72         27862   18960
73         41858   18960
74         56760   18960
75         46434   18960
76         45695   18960
77         41468   18960
78         52315   18960
79         56251   18960
80         35680   18960
81         37183   18960
82         41001   18960
83         73665   18960
84         59765   18960
85         24319   18960
86         46072   18960
87         28446   18960
88         15978   18960
89         31849   18960
90         89217   18960
91         48932   18960
92         31540   18960
93         31168   18960
94         33100   18960
95         49391   18960
96         40410   18960
97         23093   18960
98         22853   18960
99         40953   18960
100        24721   18960
101        27559   18960
102        34472   18960
103        46674   18960
104        23129   18960
105        23254   18960
106        40134   18960
107        23537   18960
108        57559   18960
109        25802   18960
110        37775   18960
111        20615   18960
112        25110   18960
113        44738   18960
114        52255   18960
115        42090   18960
116        33124   18960
117        24738   18960
118        47680   18960
119        13051   18960
120        17040   18960
121        33643   18960
122        28571   18960
123        37047   18960
124        32190   18960
125        32336   18960
126        35990   18960
127        27318   18960
128        62359   18960
129        79940   18960
130        43493   18960
131        52219   18960
132        56738   18960
133        52289   18960
134        40443   18960
135        77785   18960
136        51299   18960
137        28306   18960
138        20180   18960
139        49280   18960
140        28479   18960
141        25374   18960
142        38426   18960
143        28485   18960
144        14536   18960
145        45469   18960
146        19512   18960
147        20495   18960
148        29732   18960
149        87550   18960
150        17919   18960
151        19497   18960
152        20990   18960
153        37697   18960
154        38744   18960
155        48242   18960
156        44528   18960
157        61637   18960
158        27478   18960
159        24358   18960
160        75917   18960
161        65340   18960
162        63318   18960
163       103195   18960
164        62074   18960
165        26098   18960
166        56285   18960
167        37481   18960
168        76433   18960
169        65230   18960
170        63120   18960
171        41669   18960
172        41042   18960
173        13998   18960
174        22954   18960
175       100018   18960
178        10224   18960
179         9468   18960
191         3871   18960
192         6904   18960
193         4886   18960
195         6734   18960
198         7137   18960
199         6078   18960
215         4857   18960

In [27]:
pd.set_option('display.max_rows', 10)

### Export df_final a CSV

In [28]:
df_final.to_csv('../../data/DataFrame_Final_Cierre_FullFecha.csv', index=False)