### Importación de bibliotecas necesarias

In [6]:
import json
import pandas as pd
import os
import glob

### Lectura del archivo

In [ ]:
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
json_files = glob.glob(os.path.join("./data/movements/", "*.json"))
   
# loop over the list of csv files
for f in json_files:
      
    # read the csv file
    df = pd.read_json(f, lines=True, encoding='latin-1')

In [5]:
julio19      =pd.read_json("./data/201907_movements.json", lines=True)
agosto19     =pd.read_json("./data/201908_movements.json", lines=True)
septiembre19 =pd.read_json("./data/201909_movements.json", lines=True)
octubre19    =pd.read_json("./data/201910_movements.json", lines=True)
noviembre19  =pd.read_json("./data/201911_movements.json", lines=True)
diciembre19  =pd.read_json("./data/201912_movements.json", lines=True)
enero20      =pd.read_json("./data/202001_movements.json", lines=True)
febrero20    =pd.read_json("./data/202002_movements.json", lines=True)
marzo20      =pd.read_json("./data/202003_movements.json", lines=True)
abril20      =pd.read_json("./data/202004_movements.json", lines=True)
mayo20       =pd.read_json("./data/202005_movements.json", lines=True)
junio20      =pd.read_json("./data/202006_movements.json", lines=True)
julio20      =pd.read_json("./data/202007_movements.json", lines=True)
agosto20     =pd.read_json("./data/202008_movements.json", lines=True) 
septiembre20 =pd.read_json("./data/202009_movements.json", lines=True)
octubre20    =pd.read_json("./data/202010_movements.json", lines=True)
noviembre20  =pd.read_json("./data/202011_movements.json", lines=True)
diciembre20  =pd.read_json("./data/202012_movements.json", lines=True)
enero21      =pd.read_json("./data/202001_movements.json", lines=True)
febrero21    =pd.read_json("./data/202002_movements.json", lines=True)
marzo21      =pd.read_json("./data/202003_movements.json", lines=True)
abril21      =pd.read_json("./data/202004_movements.json", lines=True)
mayo21       =pd.read_json("./data/202005_movements.json", lines=True)
junio21      =pd.read_json("./data/202005_movements.json", lines=True)


situacion=pd.concat([julio19, agosto19,septiembre19,octubre19,noviembre19,diciembre19,enero20,febrero20,marzo20,abril20,mayo20])

ValueError: Expected object or value

### Seleción de las columnas

In [3]:
situacion=situacion[['user_type','travel_time','idunplug_station','idplug_station','unplug_hourTime']]

### Remover caracteres y convertir unplug_hourTime en timestamp

In [4]:
situacion["unplug_hourTime"]=situacion["unplug_hourTime"].str.replace("T"," ")
situacion["unplug_hourTime"]=situacion["unplug_hourTime"].str.replace("Z","").astype(str)
situacion["unplug_hourTime"]=pd.to_datetime(situacion["unplug_hourTime"])

### Estaciones con mayor frecuencia

In [5]:
situacion_estacion = situacion.groupby(['idunplug_station'])['idunplug_station'].count().sort_values(ascending=False).reset_index(name='counts')
situacion_estacion

     idunplug_station  counts
0                 175   40429
1                  43   35713
2                  57   33650
3                 163   33402
4                  83   30083
..                ...     ...
210                16    3640
211                28    2334
212               186    1841
213                32     547
214              2008       5

[215 rows x 2 columns]

In [6]:
situacion_estacion.to_csv('./data/situacion_estacion.csv')

#### La estacion con mas salidas es la 175

In [7]:
situacion_hora = situacion.groupby(['unplug_hourTime'])['unplug_hourTime'].count().sort_values(ascending=False).reset_index(name='counts')
situacion_hora

         unplug_hourTime  counts
0    2020-05-23 18:00:00    2798
1    2020-05-17 18:00:00    2792
2    2020-05-24 18:00:00    2783
3    2020-05-22 18:00:00    2600
4    2020-05-19 18:00:00    2580
...                  ...     ...
6764 2019-07-31 10:00:00       1
6765 2019-07-16 14:00:00       1
6766 2019-07-26 11:00:00       1
6767 2019-07-28 07:00:00       1
6768 2020-04-22 02:00:00       1

[6769 rows x 2 columns]

In [11]:
situacion_hora.to_csv('./data/situacion_hora.csv')

In [9]:
situacion_hora_estacion175 = situacion[situacion['idunplug_station']==175].groupby(['unplug_hourTime'])['unplug_hourTime'].count().reset_index(name='counts')
situacion_hora_estacion175

         unplug_hourTime  counts
0    2019-07-01 00:00:00       1
1    2019-07-01 01:00:00       8
2    2019-07-01 02:00:00       1
3    2019-07-01 03:00:00       2
4    2019-07-01 04:00:00       3
...                  ...     ...
5714 2020-05-31 18:00:00       8
5715 2020-05-31 19:00:00       4
5716 2020-05-31 20:00:00       6
5717 2020-05-31 21:00:00       1
5718 2020-05-31 23:00:00       3

[5719 rows x 2 columns]

In [10]:
situacion_hora_estacion175.to_csv('./data/situacion_hora_estacion175.csv')