In [13]:
import pandas as pd
import numpy as np
technologies = {
    'Courses':["Spark","PySpark","Python","pandas"],
    'Fee' :[20000,25000,22000,30000],
    'Duration':['30days','40days','35days','50days'],
    'Discount':[1000,2300,1200,2000]
              }

index_labels=['r1','r2','r3','r4']
df = pd.DataFrame(technologies,index=index_labels)

In [4]:
df

    Courses    Fee Duration  Discount
r1    Spark  20000   30days      1000
r2  PySpark  25000   40days      2300
r3   Python  22000   35days      1200
r4   pandas  30000   50days      2000

In [14]:
df['Fee'].mask(df['Duration'] =="50days",np.NaN, inplace=True)
print(df)

    Courses      Fee Duration  Discount
r1    Spark  20000.0   30days      1000
r2  PySpark  25000.0   40days      2300
r3   Python  22000.0   35days      1200
r4   pandas      NaN   50days      2000