## 6. Cluster_DatosFull

### Objetivo

Generar cluster's de estaciones en base sólo a la variable de demanda histórica

### Descripción General de notebook

    1. Carga de datos base proveniente de etapa de preparación
    2. Clusterización final en base a k=5

## 1. Carga de datos de entrada

In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import sklearn.cluster as cluster
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline
import sklearn.cluster as cluster
import sklearn.metrics as metrics
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.decomposition import PCA
import numpy as np

%matplotlib inline

pd.set_option('display.max_rows', 5)

In [2]:
df_FinalCluster_Original = pd.read_csv('../../data/df_FinalCluster_2017_2019.csv',
                              dtype={'Distrito':'category','Plazas':'category','Barrio':'category'})

df_FinalCluster_Original.info()
#df_FinalCluster

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 47 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ESTACION             172 non-null    int64
 1   DEMANDA_RATIO        172 non-null    float64
 2   DMNDA_201703         172 non-null    float64
 3   DMNDA_201704         172 non-null    float64
 4   DMNDA_201705         172 non-null    int64
 5   DMNDA_201706         172 non-null    int64
 6   DMNDA_201707         172 non-null    int64
 7   DMNDA_201708         172 non-null    int64
 8   DMNDA_201709         172 non-null    int64
 9   DMNDA_201710         172 non-null    int64
 10  DMNDA_201711         172 non-null    int64
 11  DMNDA_201712         172 non-null    float64
 12  DMNDA_201801         172 non-null    float64
 13  DMNDA_201802         172 non-null    int64
 14  DMNDA_201803         172 non-null    int64
 15  DMNDA_201804         172 non-null    int64
 16  DMNDA_201805         172 non-null    float64
 17  DMNDA_201806         172 non-null    float64
 18  DMNDA_201807         172 non-null    float64
 19  DMNDA_201808         172 non-null    float64
 20  DMNDA_201809         172 non-null    float64
 21  DMNDA_201810         172 non-null    float64
 22  DMNDA_201811         172 non-null    float64
 23  DMNDA_201812         172 non-null    float64
 24  DMNDA_201901         172 non-null    float64
 25  DMNDA_201902         172 non-null    float64
 26  DMNDA_201903         172 non-null    float64
 27  DMNDA_201904         172 non-null    float64
 28  DMNDA_201905         172 non-null    float64
 29  DMNDA_201906         172 non-null    float64
 30  DMNDA_201907         172 non-null    float64
 31  DMNDA_201908         172 non-null    float64
 32  DMNDA_201909         172 non-null    float64
 33  DMNDA_201910         172 non-null    float64
 34  DMNDA_201911         172 non-null    float64
 35  DMNDA_201912         172 non-null    float64
 36  Gis_X                172 non-null    float64
 37  Gis_Y                172 non-null    float64
 38  Distrito             172 non-null    category
 39  Barrio               172 non-null    category
 40  Plazas               172 non-null    category
 41  Longitud             172 non-null    float64
 42  Latitud              172 non-null    float64
 43  Tasa_Paro            172 non-null    float64
 44  Renta_Media_Persona  172 non-null    float64
 45  Renta_Media_Hogar    172 non-null    float64
 46  Poblacion            172 non-null    float64
dtypes: category(3), float64(33), int64(11)
memory usage: 61.8 KB

### Selección de Variables DEMANDA Mensual

In [3]:
df_FinalCluster = df_FinalCluster_Original.copy()

df_FinalCluster = df_FinalCluster.drop(columns='ESTACION')

df_FinalCluster = df_FinalCluster[[
    'DMNDA_201703', 'DMNDA_201704', 'DMNDA_201705', 'DMNDA_201706', 
    'DMNDA_201707', 'DMNDA_201708', 'DMNDA_201709', 'DMNDA_201710', 'DMNDA_201711', 'DMNDA_201712',
    'DMNDA_201801', 'DMNDA_201802', 'DMNDA_201803', 'DMNDA_201804', 'DMNDA_201805', 'DMNDA_201806', 
    'DMNDA_201807', 'DMNDA_201808', 'DMNDA_201809', 'DMNDA_201810', 'DMNDA_201811', 'DMNDA_201812',
    'DMNDA_201901', 'DMNDA_201902', 'DMNDA_201903', 'DMNDA_201904', 'DMNDA_201905', 'DMNDA_201906', 
    'DMNDA_201907', 'DMNDA_201908', 'DMNDA_201909', 'DMNDA_201910', 'DMNDA_201911', 'DMNDA_201912']]

df_FinalCluster.info()

num_cols = list(df_FinalCluster._get_numeric_data().columns)
cat_cols = list(set(df_FinalCluster.columns) - set(num_cols))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 34 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DMNDA_201703  172 non-null    float64
 1   DMNDA_201704  172 non-null    float64
 2   DMNDA_201705  172 non-null    int64
 3   DMNDA_201706  172 non-null    int64
 4   DMNDA_201707  172 non-null    int64
 5   DMNDA_201708  172 non-null    int64
 6   DMNDA_201709  172 non-null    int64
 7   DMNDA_201710  172 non-null    int64
 8   DMNDA_201711  172 non-null    int64
 9   DMNDA_201712  172 non-null    float64
 10  DMNDA_201801  172 non-null    float64
 11  DMNDA_201802  172 non-null    int64
 12  DMNDA_201803  172 non-null    int64
 13  DMNDA_201804  172 non-null    int64
 14  DMNDA_201805  172 non-null    float64
 15  DMNDA_201806  172 non-null    float64
 16  DMNDA_201807  172 non-null    float64
 17  DMNDA_201808  172 non-null    float64
 18  DMNDA_201809  172 non-null    float64
 19  DMNDA_201810  172 non-null    float64
 20  DMNDA_201811  172 non-null    float64
 21  DMNDA_201812  172 non-null    float64
 22  DMNDA_201901  172 non-null    float64
 23  DMNDA_201902  172 non-null    float64
 24  DMNDA_201903  172 non-null    float64
 25  DMNDA_201904  172 non-null    float64
 26  DMNDA_201905  172 non-null    float64
 27  DMNDA_201906  172 non-null    float64
 28  DMNDA_201907  172 non-null    float64
 29  DMNDA_201908  172 non-null    float64
 30  DMNDA_201909  172 non-null    float64
 31  DMNDA_201910  172 non-null    float64
 32  DMNDA_201911  172 non-null    float64
 33  DMNDA_201912  172 non-null    float64
dtypes: float64(24), int64(10)
memory usage: 45.8 KB

In [4]:
df_FinalCluster

,DMNDA_201703,DMNDA_201704,DMNDA_201705,DMNDA_201706,DMNDA_201707,DMNDA_201708,DMNDA_201709,DMNDA_201710,DMNDA_201711,DMNDA_201712,...,DMNDA_201903,DMNDA_201904,DMNDA_201905,DMNDA_201906,DMNDA_201907,DMNDA_201908,DMNDA_201909,DMNDA_201910,DMNDA_201911,DMNDA_201912
0,7.0,2212.0,2942,2946,3229,2929,3685,3606,2879,2051.0,...,2618.0,2581.0,2948.0,2850.0,2824.0,2304.0,3133.0,3524.0,1306.0,29.0
1,3.0,1174.0,1579,1536,1597,1491,1924,2033,1543,1131.0,...,1266.0,1125.0,1819.0,1678.0,1499.0,1289.0,825.0,0.0,0.0,0.0
2,1.0,1338.0,1776,2398,2108,1862,2270,2193,1836,1484.0,...,1974.0,2052.0,2929.0,3243.0,2579.0,2016.0,2329.0,2246.0,1700.0,1288.0
3,1.0,1131.0,1154,1801,1522,1265,1873,1843,1514,1079.0,...,1142.0,1259.0,1876.0,2098.0,1282.0,1219.0,1784.0,1767.0,1260.0,663.0
4,2.0,1052.0,1318,1573,1453,1201,1597,1594,1335,1024.0,...,1222.0,1297.0,1840.0,1760.0,1433.0,1095.0,1451.0,1403.0,1116.0,739.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,0.0,1488.0,2031,2384,2312,2004,2643,2599,2109,1529.0,...,1887.0,1942.0,2768.0,2975.0,2392.0,1927.0,2142.0,1989.0,1412.0,1118.0
168,0.0,863.0,1127,1156,1059,846,1327,1438,1130,910.0,...,1131.0,971.0,1464.0,1471.0,1305.0,874.0,1289.0,1445.0,1085.0,832.0
169,0.0,785.0,1005,1115,978,716,1125,1150,991,777.0,...,951.0,836.0,1188.0,1397.0,1193.0,825.0,1267.0,1339.0,957.0,652.0
170,0.0,845.0,1046,1162,856,647,1190,1230,981,858.0,...,721.0,645.0,863.0,976.0,791.0,650.0,1025.0,1077.0,698.0,446.0
171,0.0,0.0,924,3272,2328,2791,3878,3973,3470,2486.0,...,3962.0,4017.0,5542.0,5293.0,4600.0,3934.0,5018.0,5184.0,3949.0,2783.0

In [5]:
print(num_cols)
print(cat_cols)

['DMNDA_201703', 'DMNDA_201704', 'DMNDA_201705', 'DMNDA_201706', 'DMNDA_201707', 'DMNDA_201708', 'DMNDA_201709', 'DMNDA_201710', 'DMNDA_201711', 'DMNDA_201712', 'DMNDA_201801', 'DMNDA_201802', 'DMNDA_201803', 'DMNDA_201804', 'DMNDA_201805', 'DMNDA_201806', 'DMNDA_201807', 'DMNDA_201808', 'DMNDA_201809', 'DMNDA_201810', 'DMNDA_201811', 'DMNDA_201812', 'DMNDA_201901', 'DMNDA_201902', 'DMNDA_201903', 'DMNDA_201904', 'DMNDA_201905', 'DMNDA_201906', 'DMNDA_201907', 'DMNDA_201908', 'DMNDA_201909', 'DMNDA_201910', 'DMNDA_201911', 'DMNDA_201912']
[]

### Concatenación de DF: Numéricos y Categóricas

In [7]:
df_knn_final = df_FinalCluster[num_cols].copy()
df_knn_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 34 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DMNDA_201703  172 non-null    float64
 1   DMNDA_201704  172 non-null    float64
 2   DMNDA_201705  172 non-null    int64
 3   DMNDA_201706  172 non-null    int64
 4   DMNDA_201707  172 non-null    int64
 5   DMNDA_201708  172 non-null    int64
 6   DMNDA_201709  172 non-null    int64
 7   DMNDA_201710  172 non-null    int64
 8   DMNDA_201711  172 non-null    int64
 9   DMNDA_201712  172 non-null    float64
 10  DMNDA_201801  172 non-null    float64
 11  DMNDA_201802  172 non-null    int64
 12  DMNDA_201803  172 non-null    int64
 13  DMNDA_201804  172 non-null    int64
 14  DMNDA_201805  172 non-null    float64
 15  DMNDA_201806  172 non-null    float64
 16  DMNDA_201807  172 non-null    float64
 17  DMNDA_201808  172 non-null    float64
 18  DMNDA_201809  172 non-null    float64
 19  DMNDA_201810  172 non-null    float64
 20  DMNDA_201811  172 non-null    float64
 21  DMNDA_201812  172 non-null    float64
 22  DMNDA_201901  172 non-null    float64
 23  DMNDA_201902  172 non-null    float64
 24  DMNDA_201903  172 non-null    float64
 25  DMNDA_201904  172 non-null    float64
 26  DMNDA_201905  172 non-null    float64
 27  DMNDA_201906  172 non-null    float64
 28  DMNDA_201907  172 non-null    float64
 29  DMNDA_201908  172 non-null    float64
 30  DMNDA_201909  172 non-null    float64
 31  DMNDA_201910  172 non-null    float64
 32  DMNDA_201911  172 non-null    float64
 33  DMNDA_201912  172 non-null    float64
dtypes: float64(24), int64(10)
memory usage: 45.8 KB

## 2. Clusterización final en base a k=5

La clusterización se ejecuta para cada DataFrame según PCA siempre considerando k=5. 
La ejecución del algoritmo final considera:

    - Estandarización: MinMaxScaler()
    - Clusterización: KMeans según parámetros observados en siguiente celda

In [8]:
n_cluster = 5

scaler = MinMaxScaler()
kmeans = KMeans(
               n_clusters=n_cluster,
               init="k-means++",
               n_init=50,
               max_iter=500,
               random_state=200,)

pipeline = make_pipeline(scaler, kmeans)
pipeline

Pipeline(steps=[('minmaxscaler', MinMaxScaler()),
                ('kmeans',
                 KMeans(max_iter=500, n_clusters=5, n_init=50,
                        random_state=200))])

In [9]:
df_pred_knn_final_t = pipeline.fit_transform(df_knn_final)
df_pred_knn_final = pipeline.fit_predict(df_knn_final)

In [10]:
df_pred_knn_final_t

array([[0.97463155, 2.57840205, 1.4048747 , 1.87258605, 1.43424812],
       [1.79217262, 0.79564322, 3.00883193, 0.70922823, 1.15111951],
       [0.7097133 , 1.52451746, 1.94836771, 0.75109485, 0.2774712 ],
       [1.54622748, 0.66676391, 2.80593471, 0.27917903, 0.79331449],
       [1.65488919, 0.51905002, 2.92262681, 0.30725274, 0.89562817],
       [0.33326933, 2.36863846, 1.11324057, 1.5940918 , 1.00563228],
       [1.33129711, 0.87216049, 2.58437159, 0.2054958 , 0.58000744],
       [1.02488864, 1.15889864, 2.28610656, 0.39142792, 0.28627128],
       [0.74118421, 2.84142695, 0.68308377, 2.06634114, 1.474329  ],
       [1.17328187, 1.01140167, 2.43863326, 0.28964285, 0.47132404],
       [1.27468984, 0.96151629, 2.53252919, 0.34437972, 0.58199089],
       [0.36272727, 2.25643772, 1.2612054 , 1.48670578, 0.89941656],
       [1.99210215, 0.27841307, 3.25759154, 0.65337318, 1.2405243 ],
       [1.61993802, 0.97527671, 2.80666391, 0.68438366, 1.01251119],
       [0.91327424, 1.33072555, 2.16378618, 0.60936879, 0.32837212],
       [1.25519103, 0.99416493, 2.50356625, 0.33067239, 0.55542799],
       [0.79523649, 2.63267287, 1.15413839, 1.87029594, 1.32623105],
       [1.23674501, 1.02231705, 2.48241423, 0.34712103, 0.51903064],
       [2.88008683, 2.09516157, 3.88004178, 2.22460735, 2.47397337],
       [2.83919179, 1.26707307, 4.02428173, 1.72205283, 2.19072775],
       [1.33347818, 0.89543977, 2.59590247, 0.29855068, 0.61906624],
       [0.30400211, 1.93643641, 1.52944491, 1.16210266, 0.59494044],
       [1.44533586, 0.76132442, 2.70090619, 0.1913902 , 0.70396567],
       [2.69009655, 0.59085027, 3.95663815, 1.33917257, 1.93774328],
       [0.52032456, 1.71826992, 1.73432345, 0.94530768, 0.37267777],
       [1.24107382, 0.96180019, 2.49645106, 0.25871383, 0.47636712],
       [1.86735169, 0.34119669, 3.13646357, 0.53407491, 1.12060019],
       [2.70480979, 0.86053779, 3.95275672, 1.45523303, 1.97785452],
       [0.41625484, 2.39490219, 1.13940047, 1.61898737, 1.03997231],
       [1.88647511, 0.30568501, 3.15371285, 0.5319055 , 1.1246575 ],
       [0.36232679, 1.99480909, 1.50292572, 1.22023519, 0.67008431],
       [0.75811718, 1.59400089, 1.94038188, 0.87768123, 0.42961761],
       [1.96341892, 3.99814583, 0.99909759, 3.24488421, 2.67893292],
       [1.22544525, 0.99335917, 2.48966794, 0.30622211, 0.52347138],
       [1.51747779, 2.64217455, 1.99242269, 2.08067314, 1.73265416],
       [0.56443236, 2.10284597, 1.5008475 , 1.34543502, 0.83612131],
       [1.39309425, 0.80882121, 2.65837356, 0.19480541, 0.65529114],
       [1.09806388, 1.19767862, 2.33758738, 0.52930787, 0.45030131],
       [0.54752643, 2.64225972, 0.8797238 , 1.86306107, 1.27518576],
       [1.39646927, 0.79898272, 2.66570341, 0.20142432, 0.64306082],
       [1.45381914, 0.74917061, 2.71737632, 0.19522022, 0.69271373],
       [0.34864587, 1.88866578, 1.5734813 , 1.1089643 , 0.54152803],
       [0.58977608, 1.7303276 , 1.79036332, 0.97960238, 0.50015179],
       [1.15527356, 1.02633939, 2.42140202, 0.27855541, 0.41143943],
       [0.60577059, 1.60608221, 1.86142906, 0.84046118, 0.31178245],
       [2.19737972, 4.3125869 , 1.0214867 , 3.54053701, 2.9482033 ],
       [0.89433643, 3.0265055 , 0.44329549, 2.2420463 , 1.64718177],
       [0.42800935, 2.47798815, 1.03991349, 1.70413282, 1.12861378],
       [0.74053036, 2.02519213, 1.71113854, 1.32455988, 0.85445704],
       [1.31071729, 0.88713386, 2.57149747, 0.25340819, 0.59215237],
       [0.88912673, 2.94931194, 0.68980094, 2.17769129, 1.60803224],
       [1.32286034, 0.85247304, 2.58421722, 0.16226296, 0.57239173],
       [1.16126303, 1.02763338, 2.41910723, 0.2802652 , 0.41885598],
       [0.89696553, 1.29591661, 2.14966051, 0.52736787, 0.18635042],
       [0.39634688, 1.97891699, 1.50121384, 1.2139796 , 0.66490402],
       [0.85601036, 1.35372886, 2.10096939, 0.60227797, 0.23784263],
       [1.00749147, 1.22347039, 2.24220254, 0.47632517, 0.29498772],
       [1.13379661, 1.05361048, 2.39016909, 0.32324622, 0.38482385],
       [1.42896398, 0.76567043, 2.69516391, 0.20123804, 0.67384147],
       [0.42311653, 1.93828322, 1.56548398, 1.16907482, 0.59941758],
       [0.88386366, 1.31084272, 2.13608421, 0.54693713, 0.19842906],
       [1.44310988, 3.57942358, 0.31465984, 2.79340737, 2.19220223],
       [1.61469976, 0.58310015, 2.87013254, 0.31381589, 0.86562553],
       [0.72748963, 1.47725743, 1.9718379 , 0.71182555, 0.25327048],
       [2.10285474, 0.10981806, 3.37029806, 0.74227262, 1.34182434],
       [2.08706055, 0.12556149, 3.35529128, 0.73113908, 1.32620619],
       [2.0035672 , 0.18093615, 3.27245181, 0.64460436, 1.2405548 ],
       [1.50360271, 0.67300018, 2.7679416 , 0.19651213, 0.74769903],
       [0.86816338, 1.33570655, 2.12813809, 0.57922569, 0.22313342],
       [2.08627191, 0.13829543, 3.34955183, 0.72695189, 1.32246691],
       [0.27334935, 2.06169885, 1.39773749, 1.29176495, 0.72755101],
       [1.99530351, 0.32094891, 3.25921419, 0.67439745, 1.24678958],
       [1.21342952, 0.99661488, 2.46518161, 0.3258135 , 0.52415487],
       [2.26018558, 0.15118372, 3.52529506, 0.89844904, 1.49718221],
       [0.88541785, 1.30393197, 2.14022004, 0.55366217, 0.24968276],
       [0.58744465, 1.93376751, 1.64705602, 1.20086482, 0.75169326],
       [1.06643569, 1.11839006, 2.31908682, 0.36966309, 0.33464337],
       [1.59560328, 0.58999662, 2.85949585, 0.2654651 , 0.84105159],
       [0.8287112 , 1.37575299, 2.07545168, 0.61382845, 0.20951117],
       [2.48251256, 0.34864936, 3.74885472, 1.11717771, 1.7159935 ],
       [1.69042553, 0.55711246, 2.94209166, 0.37976345, 0.92108042],
       [1.81465719, 0.37759508, 3.08228142, 0.46472585, 1.05913091],
       [1.42718472, 0.7976839 , 2.6899639 , 0.26663338, 0.68280688],
       [1.57548182, 0.6630312 , 2.83678718, 0.33920863, 0.84632833],
       [1.67961397, 0.50667854, 2.94328069, 0.33415787, 0.91457026],
       [1.65547139, 0.63776207, 2.90652311, 0.39188425, 0.89322655],
       [0.22348996, 2.21277139, 1.24321594, 1.42907558, 0.8450808 ],
       [1.15898723, 3.26938493, 0.35675276, 2.48839615, 1.90324746],
       [0.58512768, 1.60609339, 1.83230677, 0.82435062, 0.25512259],
       [0.42133881, 1.95989804, 1.5649494 , 1.20370028, 0.6746818 ],
       [1.13727147, 1.04744449, 2.40176638, 0.31494987, 0.42754914],
       [1.03292799, 3.11309286, 0.53952425, 2.33675337, 1.76269562],
       [0.65457314, 1.56584006, 1.88780444, 0.78628588, 0.29155679],
       [0.96882726, 1.22363394, 2.2267242 , 0.46284663, 0.23528268],
       [2.27903024, 0.17559271, 3.54753198, 0.91873983, 1.51464468],
       [1.73703113, 0.46204039, 2.99530119, 0.40020155, 0.98026639],
       [1.3979058 , 0.78501817, 2.66120523, 0.15236315, 0.63561041],
       [0.91169719, 1.87638811, 1.88577255, 1.18258875, 0.78892996],
       [1.93370689, 0.29266443, 3.19450394, 0.5850203 , 1.16534038],
       [2.07027307, 0.20779599, 3.32803303, 0.71787195, 1.3056238 ],
       [0.94268282, 3.02844457, 0.52635536, 2.24923777, 1.66367279],
       [0.30350392, 2.3879461 , 1.06530576, 1.61059034, 1.01399828],
       [2.31673064, 4.45826545, 1.08919458, 3.67477508, 3.07775132],
       [0.31799911, 2.21060293, 1.25715958, 1.44072041, 0.85916541],
       [0.52619835, 2.05757405, 1.50380671, 1.30817378, 0.81405631],
       [0.91673293, 3.03721422, 0.44942099, 2.25518081, 1.66406982],
       [0.31950323, 2.20908351, 1.28379301, 1.43319824, 0.83920503],
       [0.37620401, 2.3707442 , 1.11509912, 1.59833801, 1.03320466],
       [1.13682867, 1.07214064, 2.38702371, 0.33665985, 0.41950352],
       [2.10093956, 0.27733339, 3.36828754, 0.77074372, 1.3534158 ],
       [1.84471   , 0.34803388, 3.10728298, 0.49985678, 1.08607151],
       [1.40617256, 0.84391096, 2.64844411, 0.28453907, 0.67012424],
       [2.92155426, 0.78717053, 4.18760975, 1.55969773, 2.16228051],
       [0.32501669, 2.05099549, 1.4124051 , 1.2701737 , 0.71372939],
       [2.42850987, 0.66732051, 3.65889064, 1.17727737, 1.72308664],
       [1.99875455, 0.2433692 , 3.2653331 , 0.6452482 , 1.24341338],
       [0.29668582, 2.18297697, 1.29355182, 1.40234495, 0.82336735],
       [0.76030479, 1.4371794 , 2.0081926 , 0.6711195 , 0.17339131],
       [1.19264038, 1.02668244, 2.44474532, 0.32634046, 0.47454968],
       [0.7735463 , 1.61255486, 1.92499226, 0.88968595, 0.43365254],
       [1.44341034, 0.74374478, 2.70607441, 0.18399714, 0.6911868 ],
       [0.61690718, 2.68643355, 0.83074494, 1.90442369, 1.30846169],
       [2.60166149, 0.48171232, 3.86608968, 1.23740228, 1.83134858],
       [1.6933819 , 0.49211307, 2.95480178, 0.34802053, 0.92704672],
       [2.08105638, 0.15990577, 3.34548735, 0.71657188, 1.31392753],
       [2.74340387, 0.60756448, 4.01002763, 1.37734632, 1.97602433],
       [1.99051831, 0.25449059, 3.25528657, 0.63517817, 1.22238645],
       [1.24978875, 1.08733274, 2.46392969, 0.45601531, 0.57454786],
       [0.5106486 , 1.79059867, 1.69286324, 1.0286635 , 0.53724815],
       [1.79117112, 0.40588249, 3.05691583, 0.45991865, 1.03789304],
       [1.80586376, 0.39136663, 3.07276888, 0.46598809, 1.05042247],
       [1.29055929, 0.88457267, 2.55249294, 0.16103781, 0.53537079],
       [1.91849772, 0.31385667, 3.18251983, 0.56384572, 1.15141824],
       [2.59055402, 0.45378198, 3.85477365, 1.22621777, 1.82458815],
       [1.41628731, 3.53436122, 0.3566149 , 2.74745031, 2.15818728],
       [2.28127443, 0.22939921, 3.54009187, 0.92346653, 1.51324081],
       [1.3038829 , 0.88897459, 2.56463443, 0.19329204, 0.55248119],
       [0.84242671, 1.40470296, 2.06722308, 0.64674847, 0.28510276],
       [1.94229267, 0.26539226, 3.20374124, 0.58469887, 1.18078056],
       [1.26247309, 0.92664674, 2.51847191, 0.23907467, 0.53984845],
       [1.81562529, 0.36989668, 3.07967069, 0.46269655, 1.05625204],
       [1.90313712, 0.28181184, 3.17063438, 0.54415243, 1.14044026],
       [2.06219973, 0.57284822, 3.30234419, 0.79754387, 1.3276732 ],
       [0.84243264, 1.39930791, 2.08452405, 0.64357402, 0.26741271],
       [2.16617112, 0.17465077, 3.43335619, 0.80665097, 1.39857937],
       [2.02508864, 0.18337394, 3.28989541, 0.6675082 , 1.26033992],
       [2.28837029, 0.18130224, 3.55520483, 0.92765554, 1.52187499],
       [2.03862818, 0.19192412, 3.30315528, 0.67635296, 1.27272991],
       [0.95321069, 1.27002016, 2.19358519, 0.52635179, 0.31319921],
       [0.58686077, 2.39956744, 1.1694847 , 1.64609608, 1.09780386],
       [1.18152455, 1.00193011, 2.43640142, 0.25209609, 0.43989056],
       [1.07723721, 1.14152867, 2.32065406, 0.42924545, 0.39471426],
       [2.33510258, 0.23097611, 3.60018533, 0.97513521, 1.56866203],
       [1.17760952, 1.00698171, 2.43489689, 0.27483095, 0.43007136],
       [0.42011634, 1.8604712 , 1.60219837, 1.08996682, 0.51163048],
       [2.12592781, 0.19335393, 3.38910918, 0.76758964, 1.35766853],
       [1.23598182, 0.97916521, 2.48080623, 0.26761372, 0.495213  ],
       [2.6446935 , 0.50030635, 3.90971889, 1.27725293, 1.87735748],
       [2.37268323, 0.28033045, 3.63345637, 1.01060447, 1.60282275],
       [1.23460799, 0.99073275, 2.48759258, 0.29604962, 0.50828021],
       [2.48426763, 0.36700993, 3.74933133, 1.11860101, 1.7160954 ],
       [1.89274034, 0.30612186, 3.15627238, 0.53584913, 1.12799258],
       [1.64522386, 0.55807635, 2.90675501, 0.31270673, 0.88905559],
       [1.14428762, 1.06180104, 2.40072567, 0.34181237, 0.41223712],
       [1.60892817, 0.58984969, 2.87092239, 0.30406925, 0.85101364],
       [1.67724135, 0.50008934, 2.94067231, 0.32441845, 0.9126501 ],
       [1.95387426, 0.31268837, 3.21626464, 0.61300128, 1.18428034],
       [0.68778399, 1.53211609, 1.92885329, 0.7633424 , 0.31407367],
       [1.88577022, 0.32520037, 3.14673952, 0.52782757, 1.11736006],
       [2.15027921, 0.15793045, 3.41663523, 0.79009781, 1.38059853],
       [2.27708454, 0.17436571, 3.54228098, 0.91751746, 1.51292417],
       [1.9596283 , 3.85609191, 1.26353554, 3.10533558, 2.56542226]])

In [11]:
df_pred_knn_final

array([0, 3, 4, 3, 3, 0, 3, 4, 2, 3, 3, 0, 1, 3, 4, 3, 0, 3, 1, 1, 3, 0,
       3, 1, 4, 3, 1, 1, 0, 1, 0, 4, 2, 3, 0, 0, 3, 4, 0, 3, 3, 0, 4, 3,
       4, 2, 2, 0, 0, 3, 2, 3, 3, 4, 0, 4, 4, 3, 3, 0, 4, 2, 3, 4, 1, 1,
       1, 3, 4, 1, 0, 1, 3, 1, 4, 0, 4, 3, 4, 1, 3, 1, 3, 3, 3, 3, 0, 2,
       4, 0, 3, 2, 4, 4, 1, 3, 3, 4, 1, 1, 2, 0, 2, 0, 0, 2, 0, 0, 3, 1,
       1, 3, 1, 0, 1, 1, 0, 4, 3, 4, 3, 0, 1, 3, 1, 1, 1, 3, 0, 1, 1, 3,
       1, 1, 2, 1, 3, 4, 1, 3, 1, 1, 1, 4, 1, 1, 1, 1, 4, 0, 3, 4, 1, 3,
       0, 1, 3, 1, 1, 3, 1, 1, 3, 3, 3, 3, 1, 4, 1, 1, 1, 2])

In [12]:
df_final_Clusterizado = pd.concat([df_FinalCluster_Original, pd.DataFrame(df_pred_knn_final)], axis=1)

df_final_Clusterizado.rename(columns={0: 'CLUSTER'}, inplace=True)
df_final_Clusterizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 48 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ESTACION             172 non-null    int64
 1   DEMANDA_RATIO        172 non-null    float64
 2   DMNDA_201703         172 non-null    float64
 3   DMNDA_201704         172 non-null    float64
 4   DMNDA_201705         172 non-null    int64
 5   DMNDA_201706         172 non-null    int64
 6   DMNDA_201707         172 non-null    int64
 7   DMNDA_201708         172 non-null    int64
 8   DMNDA_201709         172 non-null    int64
 9   DMNDA_201710         172 non-null    int64
 10  DMNDA_201711         172 non-null    int64
 11  DMNDA_201712         172 non-null    float64
 12  DMNDA_201801         172 non-null    float64
 13  DMNDA_201802         172 non-null    int64
 14  DMNDA_201803         172 non-null    int64
 15  DMNDA_201804         172 non-null    int64
 16  DMNDA_201805         172 non-null    float64
 17  DMNDA_201806         172 non-null    float64
 18  DMNDA_201807         172 non-null    float64
 19  DMNDA_201808         172 non-null    float64
 20  DMNDA_201809         172 non-null    float64
 21  DMNDA_201810         172 non-null    float64
 22  DMNDA_201811         172 non-null    float64
 23  DMNDA_201812         172 non-null    float64
 24  DMNDA_201901         172 non-null    float64
 25  DMNDA_201902         172 non-null    float64
 26  DMNDA_201903         172 non-null    float64
 27  DMNDA_201904         172 non-null    float64
 28  DMNDA_201905         172 non-null    float64
 29  DMNDA_201906         172 non-null    float64
 30  DMNDA_201907         172 non-null    float64
 31  DMNDA_201908         172 non-null    float64
 32  DMNDA_201909         172 non-null    float64
 33  DMNDA_201910         172 non-null    float64
 34  DMNDA_201911         172 non-null    float64
 35  DMNDA_201912         172 non-null    float64
 36  Gis_X                172 non-null    float64
 37  Gis_Y                172 non-null    float64
 38  Distrito             172 non-null    category
 39  Barrio               172 non-null    category
 40  Plazas               172 non-null    category
 41  Longitud             172 non-null    float64
 42  Latitud              172 non-null    float64
 43  Tasa_Paro            172 non-null    float64
 44  Renta_Media_Persona  172 non-null    float64
 45  Renta_Media_Hogar    172 non-null    float64
 46  Poblacion            172 non-null    float64
 47  CLUSTER              172 non-null    int32
dtypes: category(3), float64(33), int32(1), int64(11)
memory usage: 62.5 KB

In [13]:
df_final_Clusterizado[['ESTACION', 'CLUSTER']]

     ESTACION  CLUSTER
0           1        0
1           2        3
..        ...      ...
170       146        1
171       175        2

[172 rows x 2 columns]

In [14]:
df_final_Clusterizado[['ESTACION', 'CLUSTER']].to_csv('../../data/Clusterizada_soloDemandaMensual.csv', index=False)