In [1]:
import pandas as pd
import numpy as np
import time
import datetime

%run "../1. Librerias Mongo/MongoDB_Connections.ipynb"
%run "../1. Librerias Mongo/MongoDB_Funciones_Consultas.ipynb"

### Carga de datos de entrada

In [2]:
# MOVIMIENTOS

df_tracks = pd.read_csv('../../data/DataFrame_Final_Cierre.csv', parse_dates=['FECHA'])

df_clusterFull = pd.read_csv('../../data/Clusterizada_DataFull.csv')
df_clusterGeog = pd.read_csv('../../data/Clusterizada_soloGeografico.csv')
df_clusterDmnd = pd.read_csv('../../data/Clusterizada_soloDemandaRatio.csv')

In [3]:
df_clusterDmnd

,ESTACION,DEMANDA_RATIO,Gis_X,Gis_Y,Distrito,Barrio,Plazas,Longitud,Latitud,Tasa_Paro,Renta_Media_Persona,Renta_Media_Hogar,Poblacion,CLUSTER
0,1,2450.230769,440443.61,4474290.65,1,01-06,30,-3.701998,40.417111,4.309681,17550.00279,35056.88536,7665.0,0
1,2,1273.636364,440480.56,4474301.74,1,01-06,30,-3.701564,40.417213,4.309681,17550.00279,35056.88536,7665.0,1
2,3,2010.576923,440134.83,4474678.23,1,01-05,24,-3.705674,40.420580,4.283483,17882.22351,35344.22565,33434.0,4
3,4,1351.346154,440012.98,4475760.68,7,07-02,18,-3.707212,40.430322,3.985756,21397.21963,46882.35448,24770.0,1
4,5,1242.769231,440396.40,4475565.36,1,01-05,24,-3.702674,40.428590,4.283483,17882.22351,35344.22565,33434.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,193,698.000000,443883.24,4475147.45,4,04-03,24,-3.661533,40.425068,4.396495,19450.51977,44221.14512,21303.0,2
175,195,841.750000,443691.70,4475711.36,4,04-03,24,-3.663841,40.430135,4.396495,19450.51977,44221.14512,21303.0,2
176,198,1019.571429,442030.24,4476194.79,4,04-06,24,-3.683471,40.434376,2.169643,30741.05434,81379.76940,17330.0,2
177,199,868.285714,442830.66,4476215.36,4,04-04,18,-3.674037,40.434617,3.819713,21251.03416,50063.95065,42445.0,2
178,215,693.857143,440874.02,4479384.51,6,06-05,18,-3.697399,40.463029,5.899887,12254.49279,30163.55029,26607.0,2

## JOIN DE MOVIMIENTOS CON CLUSTER

In [4]:
df_final = pd.merge(df_tracks, df_clusterFull[['ESTACION','CLUSTER']], how='left', left_on=['ESTACION'], right_on=['ESTACION'])
df_final = df_final.rename(columns={'CLUSTER': 'CLUSTER_FullCols'})
df_final

,ESTACION,ANIO,MES,DIA,HORA,FECHA,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,...,TEMPERATURA,VIENTO,PRESION,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,DESC_TIEMPO,DESC_TIEMPO_detalle,DEMANDA,CLUSTER_FullCols
0,6,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,2,0
1,8,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,3,0
2,9,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,5,1
3,12,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,1,0
4,15,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142243,175,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,6,0
2142244,178,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,1,2
2142245,179,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,1,2
2142246,198,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,3,1
2142247,215,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,1,0

In [5]:
df_final = pd.merge(df_final, df_clusterGeog[['ESTACION','CLUSTER']], how='left', left_on=['ESTACION'], right_on=['ESTACION'])
df_final = df_final.rename(columns={'CLUSTER': 'CLUSTER_soloGeo'})
df_final

,ESTACION,ANIO,MES,DIA,HORA,FECHA,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,...,VIENTO,PRESION,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,DESC_TIEMPO,DESC_TIEMPO_detalle,DEMANDA,CLUSTER_FullCols,CLUSTER_soloGeo
0,6,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,5.7,1031,56,0.0,0.0,Clear,sky is clear,2,0,4
1,8,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,5.7,1031,56,0.0,0.0,Clear,sky is clear,3,0,4
2,9,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,5.7,1031,56,0.0,0.0,Clear,sky is clear,5,1,4
3,12,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,5.7,1031,56,0.0,0.0,Clear,sky is clear,1,0,4
4,15,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,5.7,1031,56,0.0,0.0,Clear,sky is clear,1,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142243,175,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,6.2,1015,69,0.0,0.0,Clouds,few clouds,6,0,4
2142244,178,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,6.2,1015,69,0.0,0.0,Clouds,few clouds,1,2,1
2142245,179,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,6.2,1015,69,0.0,0.0,Clouds,few clouds,1,2,1
2142246,198,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,6.2,1015,69,0.0,0.0,Clouds,few clouds,3,1,2
2142247,215,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,6.2,1015,69,0.0,0.0,Clouds,few clouds,1,0,0

In [6]:
df_final = pd.merge(df_final, df_clusterDmnd[['ESTACION','CLUSTER']], how='left', left_on=['ESTACION'], right_on=['ESTACION'])
df_final = df_final.rename(columns={'CLUSTER': 'CLUSTER_soloDemanda'})
df_final

,ESTACION,ANIO,MES,DIA,HORA,FECHA,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,...,PRESION,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,DESC_TIEMPO,DESC_TIEMPO_detalle,DEMANDA,CLUSTER_FullCols,CLUSTER_soloGeo,CLUSTER_soloDemanda
0,6,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,1031,56,0.0,0.0,Clear,sky is clear,2,0,4,0
1,8,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,1031,56,0.0,0.0,Clear,sky is clear,3,0,4,1
2,9,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,1031,56,0.0,0.0,Clear,sky is clear,5,1,4,0
3,12,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,1031,56,0.0,0.0,Clear,sky is clear,1,0,4,1
4,15,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,1031,56,0.0,0.0,Clear,sky is clear,1,0,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142243,175,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1015,69,0.0,0.0,Clouds,few clouds,6,0,4,3
2142244,178,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1015,69,0.0,0.0,Clouds,few clouds,1,2,1,1
2142245,179,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1015,69,0.0,0.0,Clouds,few clouds,1,2,1,2
2142246,198,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1015,69,0.0,0.0,Clouds,few clouds,3,1,2,2
2142247,215,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1015,69,0.0,0.0,Clouds,few clouds,1,0,0,2

In [7]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2142248 entries, 0 to 2142247
Data columns (total 24 columns):
 #   Column               Dtype
---  ------               -----
 0   ESTACION             int64
 1   ANIO                 int64
 2   MES                  int64
 3   DIA                  int64
 4   HORA                 int64
 5   FECHA                datetime64[ns]
 6   DIA_SEMANA           int64
 7   AM_PM                object
 8   TEMPORADA            object
 9   TEMPORADA_NUM        int64
 10  Es_Festivo           int64
 11  Es_FinSemana         int64
 12  TEMPERATURA          float64
 13  VIENTO               float64
 14  PRESION              int64
 15  HUMEDAD              int64
 16  PRECIPITACION_1h     float64
 17  PRECIPITACION_3h     float64
 18  DESC_TIEMPO          object
 19  DESC_TIEMPO_detalle  object
 20  DEMANDA              int64
 21  CLUSTER_FullCols     int64
 22  CLUSTER_soloGeo      int64
 23  CLUSTER_soloDemanda  int64
dtypes: datetime64[ns](1), float64(4), int64(15), object(4)
memory usage: 408.6+ MB

In [8]:
# REORDENAMIENTO DE COLUMNAS PREVIO A EXPORT

df_final_cierre = df_final[['ESTACION', 'ANIO', 'MES', 'DIA', 'HORA', 'FECHA', 'DIA_SEMANA', 'AM_PM', 'TEMPORADA', 
                            'TEMPORADA_NUM', 'Es_Festivo', 'Es_FinSemana', 'TEMPERATURA', 'VIENTO', 'PRESION', 'HUMEDAD', 
                            'PRECIPITACION_1h', 'PRECIPITACION_3h', 'DESC_TIEMPO', 'DESC_TIEMPO_detalle', 'CLUSTER_FullCols', 
                            'CLUSTER_soloGeo', 'CLUSTER_soloDemanda', 'DEMANDA']]
df_final_cierre

,ESTACION,ANIO,MES,DIA,HORA,FECHA,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,...,PRESION,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,DESC_TIEMPO,DESC_TIEMPO_detalle,CLUSTER_FullCols,CLUSTER_soloGeo,CLUSTER_soloDemanda,DEMANDA
0,6,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,1031,56,0.0,0.0,Clear,sky is clear,0,4,0,2
1,8,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,1031,56,0.0,0.0,Clear,sky is clear,0,4,1,3
2,9,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,1031,56,0.0,0.0,Clear,sky is clear,1,4,0,5
3,12,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,1031,56,0.0,0.0,Clear,sky is clear,0,4,1,1
4,15,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,1031,56,0.0,0.0,Clear,sky is clear,0,4,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142243,175,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1015,69,0.0,0.0,Clouds,few clouds,0,4,3,6
2142244,178,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1015,69,0.0,0.0,Clouds,few clouds,2,1,1,1
2142245,179,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1015,69,0.0,0.0,Clouds,few clouds,2,1,2,1
2142246,198,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1015,69,0.0,0.0,Clouds,few clouds,1,2,2,3
2142247,215,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1015,69,0.0,0.0,Clouds,few clouds,0,0,2,1

In [9]:
df_final_cierre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2142248 entries, 0 to 2142247
Data columns (total 24 columns):
 #   Column               Dtype
---  ------               -----
 0   ESTACION             int64
 1   ANIO                 int64
 2   MES                  int64
 3   DIA                  int64
 4   HORA                 int64
 5   FECHA                datetime64[ns]
 6   DIA_SEMANA           int64
 7   AM_PM                object
 8   TEMPORADA            object
 9   TEMPORADA_NUM        int64
 10  Es_Festivo           int64
 11  Es_FinSemana         int64
 12  TEMPERATURA          float64
 13  VIENTO               float64
 14  PRESION              int64
 15  HUMEDAD              int64
 16  PRECIPITACION_1h     float64
 17  PRECIPITACION_3h     float64
 18  DESC_TIEMPO          object
 19  DESC_TIEMPO_detalle  object
 20  CLUSTER_FullCols     int64
 21  CLUSTER_soloGeo      int64
 22  CLUSTER_soloDemanda  int64
 23  DEMANDA              int64
dtypes: datetime64[ns](1), float64(4), int64(15), object(4)
memory usage: 408.6+ MB

In [10]:
df_final_cierre.to_csv('../../data/DataFrame_Final_Cierre_Cluster.csv', index=False)

In [11]:
df_final_cierre.groupby(['ANIO','MES']).agg(DEMANDA=('DEMANDA', 'sum'))

          DEMANDA
ANIO MES
2018 1     232255
     2     209335
     3     192791
     4     269489
     5     271159
     6     305429
     7     354028
     8     251152
     9     410649
     10    353380
     11    275917
     12    251159
2019 1     257240
     2     282231
     3     280434
     4     267786
     5     387267
     6     414852
     7     347723
     8     268670
     9     364950
     10    366079
     11    264006
     12    188777
2020 1     218030
     2     274174