In [4]:
import json, requests
import pandas as pd

In [2]:
'''Login: Obtener accessToken'''

XClientId = 'c0c8cf02-e18b-4d9e-9af6-23ce93374c93'
passKey = '0676E16E4BE099A19D550C790D54CF9C4868156FEF13AA1389DA18A3DA5A85E7DD21632FCB75DF85AA623919697E4FBF823538E71B4105671A02865167901077'
response1 = requests.get('https://openapi.emtmadrid.es/v1/mobilitylabs/user/login/', headers={'X-ClientId': XClientId, 'passKey': passKey})
text = response1.text
data1 = json.loads(text)
accessToken = data1['data'][0]['accessToken']

In [5]:
response2 = requests.get('https://openapi.emtmadrid.es/v1/transport/bicimadgo/bikes/availability/', headers={'accessToken': accessToken})
text = response2.text
data2 = json.loads(text)['data']
data2 = pd.DataFrame(data2)

In [6]:
data2

,bike_in_station,Tracker-ioMovement,DeviceName,notify,qrcode,Batery,porcBattery,state,geometry,Address,firstDatePos,Speed,datePosition,lastUpdate,rangeEstimated,station,base
0,0,Quieta,0291,False,3004,0,45,Disponible,"{'type': 'Point', 'coordinates': [-3.6889433, ...","28006,ES,Madrid,Madrid,Calle de,López de hoyos...",{'$date': 1659809990000},0.000000,2022-08-07T18:24:44,2022-08-07T18:24:47.956000,0,NaN,NaN
1,0,Quieta,0226,False,5057,0,78,Disponible,"{'type': 'Point', 'coordinates': [-3.6337516, ...","28017,ES,Madrid,Madrid,Calle de,San telesforo ...",{'$date': 1659865446000},0.000000,2022-08-07T18:24:37,2022-08-07T18:24:40.225000,0,NaN,NaN
2,0,Quieta,0161,False,5060,0,87,Disponible,"{'type': 'Point', 'coordinates': [-3.649675, 4...","28027,ES,Madrid,Madrid,Calle del,Elfo 73,Madrid",{'$date': 1659516681000},0.000000,2022-08-07T18:24:43,2022-08-07T18:24:46.115000,0,NaN,NaN
3,0,Quieta,0286,False,5133,0,82,Disponible,"{'type': 'Point', 'coordinates': [-3.6759166, ...","28036,ES,Madrid,Madrid,Avenida de,Pío xii 98,M...",{'$date': 1659319141000},85.474371,2022-08-07T18:26:44,2022-08-07T18:26:46.807000,0,NaN,NaN
4,0,Quieta,0183,False,5176,0,93,Disponible,"{'type': 'Point', 'coordinates': [-3.6487366, ...","28027,ES,Madrid,Madrid,Calle de,José del hierr...",{'$date': 1656445118000},92.217345,2022-08-07T18:27:12,2022-08-07T18:27:16.692000,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,0,Quieta,0377,True,7119,0,99,Disponible,"{'type': 'Point', 'coordinates': [-3.6669716, ...","28002,ES,Madrid,Madrid,Calle de,Santa hortensi...",{'$date': 1659614795000},97.112279,2022-08-07T18:25:36,2022-08-07T18:25:39.537000,0,NaN,NaN
239,0,Quieta,0438,False,7120,0,87,Disponible,"{'type': 'Point', 'coordinates': [-3.6323433, ...","28037,ES,Madrid,Madrid,Avenida de la,Instituci...",{'$date': 1659648168000},0.000000,2022-08-07T18:24:45,2022-08-07T18:24:48.856000,0,NaN,NaN
240,0,Quieta,0479,False,7127,0,53,Disponible,"{'type': 'Point', 'coordinates': [-3.6336283, ...","28017,ES,Madrid,Madrid,,M-23 ,Madrid",{'$date': 1659615068000},0.000000,2022-08-07T18:22:54,2022-08-07T18:22:57.839000,0,NaN,NaN
241,0,Quieta,0318,True,7137,0,100,Disponible,"{'type': 'Point', 'coordinates': [-3.6527083, ...","28027,ES,Madrid,Madrid,Calle de la,Virgen de l...",{'$date': 1659188042000},0.000000,2022-08-07T18:23:47,2022-08-07T18:23:50.617000,0,NaN,NaN
242,0,Quieta,0315,False,7141,0,96,Disponible,"{'type': 'Point', 'coordinates': [-3.693365, 4...","28049,ES,Madrid,Madrid,Avenida,Monasterio de e...",{'$date': 1659479759000},0.000000,2022-08-07T18:24:52,2022-08-07T18:24:54.669000,0,NaN,NaN